{% set categories =  collections.categoryList %}
<nav role="navigation" aria-label="category navigation" >
  <span>Category of Issues:</span>
  <ul>
    <li class="category__link {{ ' active' if page.url == '/journals/'}}">
      <a class="category__link" 
        href="/journals"
        {{ "aria-current" if page.url === "/journals/" }}
          >all</a>
    </li>
    {%- for category in categories %}
    {% set catUrl = ["/", category.key, "/" ] |  join %}
    <li class="category__link {{ ' active' if page.url == catUrl }}">
      <a href="{{ catUrl }}"
      {{ "aria-current" if page.url == catUrl }}>
        {{ category.key }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</nav>