<footer role="contentinfo">
  <div class="footer">
    <p>
      <span>
        ©2020-{{ meta.currentYear() }},&nbsp;Creative Common License. Official
        Site,
        <strong>Kiri Vadivelu</strong>
      </span>
      | <span><a href="https://twitter.com/kiri_vadivelu">Twitter</a></span> |
      <span><a href="https://instagram.com/">Instagram</a></span> |
      <span><a href="https://facebook.com/kiri.vadivelu">Facebook</a></span> |
      <span><a href="https://linkedin.com/in/kiri-vadivelu/">LinkedIn</a></span>
      |

      <span>
        Made in
        <a href="https://toronto.ca"><strong>Toronto,</strong></a>
      </span>
      <span>
        Project by
        <a href="https://digitaldesigners.ca"
          ><strong> Digital Designers</strong></a
        >.
      </span>
    </p>
  </div>
</footer>
