<footer role="contentinfo">
  <p>
    © 2022. Official Campaign Website, <span>Kiri Vadivelu</span>. Scarborough
    Centre, Ward 21.
    <a
      class="social-media__link"
      href="https://twitter.com/kiri_vadivelu"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#twitter"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      ></svg-icon>

      <span class="sr-only">Twitter</span>
    </a>

    <a
      class="social-media__link"
      href="https://www.tiktok.com/@kiri_vadivelu"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#tiktok"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      ></svg-icon>

      <span class="sr-only">TikTok</span>
    </a>

    <a
      class="social-media__link"
      href="https://www.linkedin.com/in/kiri-vadivelu/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#linkedin"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      ></svg-icon>

      <span class="sr-only">LinkedIn</span>
    </a>

    <a
      class="social-media__link"
      href="https://www.facebook.com/kiri.vadivelu"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#facebook"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      ></svg-icon>

      <span class="sr-only">Facebook</span>
    </a>

    <a
      class="social-media__link"
      href="https://www.instagram.com/kiri_vadivelu/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#instagram"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      ></svg-icon>

      <span class="sr-only">Instagram</span>
    </a>

    <a
      class="social-media__link"
      href="https://github.com/kiri-vadivelu"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg-icon
        src="/assets/sprite.svg#github"
        width="16px"
        viewBox="0 0 32 32"
        aria-hidden="true"
        focusable="false"
      >
      </svg-icon>

      <span class="sr-only">Github</span>
    </a>
    |
    <span>
      Project by <a href="https://digitaldesigners.ca">Digital Designers</a>,
      Toronto.
    </span>
    <a href="https://kiri-vadivelu.ca/privacy">Privacy</a> |
    <a href="https://kiri-vadivelu.ca/cookies">Cookies</a> |
    <a href="https://kiri-vadivelu.ca/terms">Terms</a> |
    <a href="https://kiri-vadivelu.ca/disclaimer">Disclaimer</a> |
    <a href="https://kiri-vadivelu.ca/acknowledge">Acknowledge</a>
  </p>
</footer>
