html {
  color: var(--text-clr);
  background-color: var(--background-clr);
  font-family: var(--sans);
  font-size: var(--step-0);
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

footer {
  margin-top: auto;
  padding-inline: 1rem;

  & p,
  span {
    font-size: 90%;
  }
}

main {
  flex: 0 1 100%;
}

.main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: min(100% - 2rem, 50rem);
  padding-block: var(--spacing);
}

header {
  background: var(--theme-clr);
  padding-inline: 1rem;

  .logo,
  a:link,
  a:visited {
    color: var(--accent-clr);
  }
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
}

.footer {
  border-top: 1px solid;
}

strong {
  font-weight: 700;
}

section {
  display: grid;
  place-items: center;
  padding-block: var(--spacing);
}
// applies to both header nav and main category nav
nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  color: var(--accent-clr);
  gap: 0.5em;
}

.nav__item.active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25em;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
