html {
  color: var(--text);
  background-color: var(--surface);
  font-family: var(--sans);
  font-size: var(--step-0);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 100%;
}

footer {
  margin-top: auto;
  padding-block: var(--spacing-sm);
  border-top: 1px solid;

  & p {
    font-size: 90%;
  }
}

main {
  flex: 0 1 100%;
  padding-block: var(--spacing);

  nav {
    span {
      font-size: 1.1em;
      font-weight: 600;
    }
  }
}

header {
  color: var(--link);
  background: var(--theme);
  width: 100%;
}

.wrapper {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 1em;
  display: flex;
  justify-content: space-between;
}

main,
footer {
  width: min(100% - 2em, 50rem);
  margin-left: auto;
  margin-right: auto;
}

section {
  display: grid;
  place-items: center;
  padding-block: var(--spacing-sm);
}

nav ul li {
  display: inline-block;
  font-size: 1.1em;

  + li {
    margin-left: 0.7em;
  }

  &.active a {
    font-weight: 600;
    text-decoration: underline;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    transition: color var(--time);
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
