// Card Style
.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.35);
}

.card > img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}

.card > img:first-child {
  border-radius: 0.5em 0.5em 0 0;
}

.card > img:last-child {
  border-radius: 0 0 0.5em 0.5em;
  margin-top: auto;
}

.card > :not(img) {
  margin-left: 1em;
  margin-right: 1em;
}

.card > :not(img):first-child {
  margin-top: 1em;
}

.card > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1em;
}

.card > :not(h2, h3, h4) {
  font-size: 0.9em;
}

.card > a {
  align-self: start;
}

// Extra
.cards a {
  color: var(--accent-clr);
}
