// Decorations & Pseudo Elements
::selection {
  background-color: var(--accent-clr);
  color: var(--text-clr);
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
}

mark {
  padding: 0 0.25em;
  background-color: var(--mark-clr);
}

figcaption {
  text-align: center;
  padding-top: 0.25em;
}

figcaption::before {
  content: " \27A5";
  color: var(--accent-clr);
  margin-right: 0.25em;
}

time::before {
  content: " \262D";
  font-size: 0.75em;
  color: var(--theme-clr);
  border: 1px solid;
  padding: 0 0.2em 0 0;
  margin-right: 0.5em;
  border-radius: 0.4em 0 0.4em 0;
  background: var(--accent-clr);
}

a[href^="https://"]:hover::after
{
  content: "\279A";
}

a[href^="https://"]::before
{
  content: "\🌐";
}

a[href^="mailto"]::before {
  content: " \📧";
}

a[href^="tel"]::before {
  content: "\☎";
}

a[href$=".pdf"]::before {
  content: "\📖";
}

a[href$=".pdf"]:hover::after {
  content: "\21F2";
}

.article__list {
  li a:hover::after {
    content: "\21FE";
  }
}

// tag list
.tag-list {
  display: flex;
  gap: 1em;
}

.tag-list li,
.tag-list a {
  display: block;
}

.tag-list a::before {
  content: "#";
}

// p::first-letter {
//   font-weight: 700;
// }
