// Primary Features

q {
  font-size: var(--step-1);
}
main {
  p {
    max-width: 75ch;
  }
}

.msa-team {
  li {
    padding-bottom: 0.5em;
  }
}

.intro {
  display: grid;
  place-items: center;
}

.news {
  border-bottom: 1px dotted;
}
// blockquote
blockquote {
  padding: 0.25em;
  font-size: var(--step-0);
  width: min(100%, 40rem);
  background-color: var(--neutral);
  border-radius: var(--radius);
  line-height: 1;
  margin-bottom: 0.5em;
  margin-inline: auto;
}

blockquote p {
  margin-top: 0;
}

blockquote:nth-child(odd) {
  border-left: 5px solid var(--theme);
}

blockquote:nth-child(even) {
  border-right: 5px solid var(--theme);
}

cite {
  display: block;
  font-size: var(--step-1);
  text-align: right;
}

// Images
img,
svg,
figure,
picture {
  max-width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--radius);
}

main > p > img {
  width: 100%;
  max-width: 450px;
  filter: opacity(0.95);
}

main > figure {
  filter: opacity(0.9);
}

article > img {
  margin-block: var(--spacing);
}

article > figure {
  filter: grayscale(5%);
  background: var(--neutral);
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

figcaption {
  text-align: center;
  padding-top: 0.25em;
}

figcaption::before {
  content: " \27A5";
  color: var(--link);
  margin-right: 0.25em;
}

// Lists
ul {
  list-style: none;
}
li::marker {
  color: var(--link);
}

// Table
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5em 0.75em;
}

th {
  text-align: left;
  color: var(--neutral);
}

td {
  border-bottom: 1px solid;
}

th:first-child,
td:first-child {
  padding-left: 0.5em;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
  border-bottom: 2px solid;
}

// Accordion
details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75em 1em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 0.25em;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

summary {
  display: list-item;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  color: var(--link);
}

details summary::before,
details summary::after,
details[open] summary::before,
details[open] summary::after {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: var(--neutral);
}

details[open] summary {
  margin-bottom: 0.5em;
  border-bottom: 1px solid;
}

details summary::before {
  content: "open";
}

details summary::after,
details[open] summary::after {
  content: " ";
}

details[open] summary::before {
  content: "close";
}
