// Global Styling
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

// responsive embedding
.video {
  padding: 1rem;
  background: var(--accent-clr);
  border-radius: 0.2em;
  filter: grayscale(25%);

  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 0.2em;
  }
}

strong {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

q {
  font-size: var(--step-0);
  font-family: monospace;
}

section {
  display: grid;
  place-items: center;
  padding-block: var(--spacing);
}

// Page Transition
@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  opacity: 0;
  animation: pageFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-delay: 250ms;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
