// Quick Layout
.grid-center {
  display: grid;
  place-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Responsive Layout
.grid-wrap {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch, 1fr)));
}

// Responsive Aside
.flex-aside {
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  width: min(100%, 960px);
  border-radius: 0.15em;
  border: 1px solid;
  gap: 0.5em;
  padding-block: 0.5em;
  border-color: var(--accent-clr);
  margin-inline: auto;

  > *:nth-child(1) {
    flex: 1 1 40%; // article maxed at 20rem
    display: grid;
    align-self: center;
    padding-inline: 0.75em;
  }

  > *:nth-child(2) {
    flex: 1 1 50%; // image min 320px maxed at 25rem
    min-width: 15rem;
    border-radius: 0;
  }
}

// ul parent
.cards {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
}
// li child
.cards > li {
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
}

// ul scroll parent
.horizon {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0 1em;
  -webkit-overflow-scrolling: touch;
}
// li scroll child
.horizon > * {
  width: min(45ch, 60vw);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
