//   Links
a:link,
a:visited {
  color: var(--link);
  text-underline-offset: 0.25em;
  text-decoration: none;
  transition: all var(--time) var(--type);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: var(--neutral);
  }
}

[aria-current] {
  font-weight: 700;
  font-style: italic;
}

// Decorations/ Signatures
main {
  h1::after {
    content: "\2726";
    font-size: 0.7em;
    margin: 0.2em;
  }

  time::before {
    content: "\262D";
    font-size: 0.8em;
    color: black;
    border: 1px solid;
    padding: 0 0.2em 0 0;
    margin-right: 0.5em;
    border-radius: 0.4em 0 0.4em 0;
    background: var(--theme);
  }

  a[href^="https://"]:hover::after
  {
    content: "\279A";
    font-size: 0.75em;
    margin: 0.1em;
  }

  a[href^="mailto"]::before {
    content: "\2709";
    font-size: 0.9em;
    margin: 0.2em;
  }

  a[href^="tel"]::before {
    content: "\260F";
    font-size: 0.9em;
    margin: 0.2em;
  }

  a[href$=".pdf"]:hover::after {
    content: "\21F2";
    font-size: 0.9em;
    margin: 0.2em;
  }
}

.article__list {
  li a:hover::after {
    content: "\21FE";
    font-size: 0.7em;
    margin: 0.2em;
  }
}

.submenu {
  opacity: var(--opacity);
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid;
}

mark {
  padding: 0 0.25em;
  background-color: var(--mark);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
