//   Links & Elements

a:link,
a:visited {
  color: var(--link-clr);
  text-underline-offset: 0.25em;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: var(--accent-clr);
  }
}

[aria-current] {
  font-weight: 700;
  font-style: italic;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.icons {
  font-size: var(--step-5);
  line-height: 1;
  border-radius: 0.2em 0.1em 0.2em 0.1em;
  padding-inline: 0.75em;
  color: var(--theme-clr);
}

ol {
  list-style: lower-roman;
  list-style-position: inside;
  li {
    margin-bottom: 0.5em;
  }
}

time,
address {
  font-style: italic;
  padding-left: 0.5em;
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

.cards a {
  color: var(--accent-clr);
}
