// Misc Elements
time,
address {
  font-style: italic;
  padding-left: 0.5em;
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

::selection {
  background-color: var(--accent-clr);
  color: var(--text-clr);
}
