:root {
  // standard colors
  --text-clr: hsl(0, 0%, 10%);
  --text-clr-inverse: hsl(0, 0%, 95%);
  --background-clr: hsl(0, 0%, 98%);

  // static color
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  // dynamic gradient color
  --text-grade-dark: hsl(0, 0%, 5%);
  --text-grade-light: hsl(0, 0%, 30%);

  // grey colors
  --neutral-clr: hsl(0, 0%, 65%);
  --neutral-clr-light: hsl(0, 0%, 75%);
  --neutral-clr-dark: hsl(0, 0%, 50%);

  // dark colors
  --dark-clr: hsl(0, 0%, 15%);
  --dark-clr-light: hsl(0, 0%, 25%);
  --dark-clr-dark: hsl(0, 0%, 0%);

  // light colors
  --light-clr: hsl(0, 0%, 95%);
  --light-clr-light: hsl(0, 0%, 100%);
  --light-clr-dark: hsl(0, 0%, 90%);

  // theme colors
  --theme-clr: hsl(60, 100%, 50%);
  --theme-clr-dark: hsl(60, 100%, 45%);
  --theme-clr-light: hsl(60, 100%, 55%);

  // theme accent colors
  --accent-clr: hsl(300, 100%, 35%);
  --accent-clr-dark: hsl(300, 100%, 20%);
  --accent-clr-light: hsl(300, 100%, 50%);

  // link colors
  --link-clr: var(--text-clr); // text color
  --link-clr-after: var(--text-clr); //text color
  --link-clr-hover: var(--accent-clr); // accent light

  // standard accessible colors
  --fine-clr: hsl(110, 100%, 30%); // success
  --hint-clr: hsl(0, 100%, 50%); // error
  --mark-clr: hsl(45, 100%, 50%); // warning

  img {
    filter: brightness(1.01) contrast(1.1);
  }

  /* Properties */
  --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.2);
  --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
  --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));

  /* Spacing */
  --spacing: clamp(1em, 5%, 3em);
  --spacing-lg: clamp(2em, 10%, 6em);
  --spacing-sm: clamp(0.25em, 1.25%, 0.75em);

  /* Fonts */
  --sans: "Gill Sans", "Trebuchet MS", sans-serif;
  --serif: "Baskerville", "Palatino", serif;
  --mono: "Consolas", "Courier New", monospace;
  --curs: "Brush Script MT", "Comic Sans MS", cursive;

  /* Typography */
  --step--1: clamp(0.94rem, calc(0.91rem + 0.16vw), 1.03rem);
  --step-0: clamp(1.13rem, calc(1.04rem + 0.42vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.19rem + 0.81vw), 1.83rem);
  --step-2: clamp(1.62rem, calc(1.35rem + 1.37vw), 2.44rem);
  --step-3: clamp(1.94rem, calc(1.51rem + 2.19vw), 3.26rem);
  --step-4: clamp(2.33rem, calc(1.66rem + 3.35vw), 4.34rem);
  --step-5: clamp(2.8rem, calc(1.8rem + 4.98vw), 5.79rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));
    --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.25);

    // standard colors on dark mode
    --text-clr: hsl(0, 0%, 96%);
    --text-clr-inverse: hsl(0, 0%, 5%); // when text not visible
    --background-clr: hsl(0, 0%, 20%);

    // dynamic gradient color
    --text-grade-dark: hsl(0, 0%, 75%);
    --text-grade-light: hsl(0, 0%, 100%);

    // grey colors on dark mode
    --neutral-clr: hsl(0, 0%, 60%);
    --neutral-clr-light: hsl(0, 0%, 70%);
    --neutral-dark: hsl(0, 0%, 45%);

    // dark colors on dark mode
    --dark-clr: hsl(0, 0%, 10%);
    --dark-clr-light: hsl(0, 0%, 20%);
    --dark-clr-dark: hsl(0, 0%, 5%);

    // light colors on dark mode
    --light-clr: hsl(0, 0%, 90%);
    --light-clr-light: hsl(0, 0%, 95%);
    --light-clr-dark: hsl(0, 0%, 85%);

    // theme colors on dark mode
    --theme-clr: hsl(60, 100%, 50%);
    --theme-clr-dark: hsl(60, 100%, 45%);
    --theme-clr-light: hsl(60, 100%, 55%);

    // theme accent colors on dark mode
    --accent-clr: hsl(300, 100%, 40%);
    --accent-clr-dark: hsl(300, 100%, 30%);
    --accent-clr-light: hsl(300, 100%, 50%);

    // link colors
    --link-clr: var(--text-clr); // text color
    --link-clr-after: var(--text-clr); //text color
    --link-clr-hover: var(--accent-clr); // accent light

    // accessible color brightness
    --fine-clr: hsl(110, 100%, 20%); // success
    --hint-clr: hsl(0, 100%, 40%); // error
    --mark-clr: hsl(45, 100%, 40%); // warning
  }

  img {
    filter: brightness(0.9) contrast(1.15);
  }
}
