// Fluid typography (Utopia)
html,
body {
  font-size: var(--step-0);
  font-family: var(--sans);
  line-height: 1.3;
}

h2,
h3,
h4,
h5 {
  font-weight: 400;
  line-height: 1;
  font-family: var(--serif);
  word-wrap: break-word;
  margin-bottom: 0.25em;
}

// Logo
.logo {
  font-family: var(--serif);
  font-weight: 900;
  font-size: 85%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  // gradient color
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(
    45deg,
    var(--accent-clr-dark),
    var(--accent-clr-light)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: var(--step-3);
  text-align: center;
  line-height: 1;
  margin-bottom: 0.25em;
  font-weight: 900;
  // gradient color
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(
    45deg,
    var(--accent-clr-dark),
    var(--accent-clr-light)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grade {
  // gradient color
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(
    45deg,
    var(--text-grade-dark),
    var(--text-grade-light)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a {
  margin-left: 0.25em;
}

// viewport 320 to 1280, font 18 to 22, scale 1.2 to 1.333
p {
  margin-bottom: 0.5em;
}

p:first-of-type {
  margin-top: 0.5em;
}

h2 {
  font-size: var(--step-2);
  font-weight: 400;
}

h3 {
  font-size: var(--step-1);
  color: var(--accent-clr);
}

h4 {
  font-size: var(--step-0);
  text-transform: uppercase;
}

h5 {
  font-size: var(--step-0);
  text-transform: uppercase;
  color: var(--accent-clr);
  letter-spacing: 2px;
}

small {
  font-size: var(--step--1);
}

.text-small {
  font-size: var(--step--1);
}
