@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul[role=list],
ol[role=list] {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  margin-inline: auto;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

.video {
  padding: 1rem;
  background: var(--accent-clr);
  border-radius: 0.2em;
  filter: grayscale(25%);
}
.video iframe {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 0.2em;
}

strong {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

q {
  font-size: var(--step-0);
  font-family: monospace;
  padding: 2em;
}

q:before,
q:after {
  content: "";
}

.quotes {
  padding-block: 1em;
  padding-inline: 2em;
  margin-inline: auto;
}

@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  opacity: 0;
  animation: pageFadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
  animation-delay: 250ms;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

:root {
  --text-clr: hsl(0, 0%, 10%);
  --text-clr-inverse: hsl(0, 0%, 95%);
  --background-clr: hsl(0, 0%, 98%);
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
  --text-grade-dark: hsl(0, 0%, 5%);
  --text-grade-light: hsl(0, 0%, 25%);
  --neutral-clr: hsl(0, 0%, 65%);
  --neutral-clr-light: hsl(0, 0%, 75%);
  --neutral-clr-dark: hsl(0, 0%, 50%);
  --dark-clr: hsl(0, 0%, 15%);
  --dark-clr-light: hsl(0, 0%, 25%);
  --dark-clr-dark: hsl(0, 0%, 0%);
  --light-clr: hsl(0, 0%, 95%);
  --light-clr-light: hsl(0, 0%, 100%);
  --light-clr-dark: hsl(0, 0%, 90%);
  --theme-clr: hsl(60, 100%, 50%);
  --theme-clr-dark: hsl(60, 100%, 45%);
  --theme-clr-light: hsl(60, 100%, 55%);
  --accent-clr: hsl(300, 100%, 35%);
  --accent-clr-dark: hsl(300, 100%, 25%);
  --accent-clr-light: hsl(300, 100%, 50%);
  --link-clr: var(--text-clr);
  --link-clr-after: var(--text-clr);
  --link-clr-hover: var(--accent-clr);
  --fine-clr: hsl(110, 100%, 30%);
  --hint-clr: hsl(0, 100%, 50%);
  --mark-clr: hsl(45, 100%, 50%);
  /* Spacing */
  --spacing: clamp(1em, 5%, 3em);
  --spacing-lg: clamp(2em, 10%, 6em);
  --spacing-sm: clamp(0.25em, 1.25%, 0.75em);
  /* Fonts */
  --sans: "Gill Sans", "Trebuchet MS", sans-serif;
  --serif: "Baskerville", "Palatino", serif;
  --mono: "Consolas", "Courier New", monospace;
  --curs: "Brush Script MT", "Comic Sans MS", cursive;
  /* Typography */
  --step--1: clamp(0.94rem, calc(0.91rem + 0.16vw), 1.03rem);
  --step-0: clamp(1.13rem, calc(1.04rem + 0.42vw), 1.38rem);
  --step-1: clamp(1.35rem, calc(1.19rem + 0.81vw), 1.83rem);
  --step-2: clamp(1.62rem, calc(1.35rem + 1.37vw), 2.44rem);
  --step-3: clamp(1.94rem, calc(1.51rem + 2.19vw), 3.26rem);
  --step-4: clamp(2.33rem, calc(1.66rem + 3.35vw), 4.34rem);
  --step-5: clamp(2.8rem, calc(1.8rem + 4.98vw), 5.79rem);
}
:root img {
  filter: brightness(0.95) contrast(1.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));
    --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.25);
    --text-clr: hsl(0, 0%, 96%);
    --text-clr-inverse: hsl(0, 0%, 5%);
    --background-clr: hsl(0, 0%, 20%);
    --text-grade-dark: hsl(0, 0%, 75%);
    --text-grade-light: hsl(0, 0%, 100%);
    --neutral-clr: hsl(0, 0%, 60%);
    --neutral-clr-light: hsl(0, 0%, 70%);
    --neutral-dark: hsl(0, 0%, 45%);
    --dark-clr: hsl(0, 0%, 10%);
    --dark-clr-light: hsl(0, 0%, 20%);
    --dark-clr-dark: hsl(0, 0%, 5%);
    --light-clr: hsl(0, 0%, 90%);
    --light-clr-light: hsl(0, 0%, 95%);
    --light-clr-dark: hsl(0, 0%, 85%);
    --theme-clr: hsl(60, 100%, 50%);
    --theme-clr-dark: hsl(60, 100%, 45%);
    --theme-clr-light: hsl(60, 100%, 55%);
    --accent-clr: hsl(300, 100%, 40%);
    --accent-clr-dark: hsl(300, 100%, 30%);
    --accent-clr-light: hsl(300, 100%, 50%);
    --link-clr: var(--text-clr);
    --link-clr-after: var(--text-clr);
    --link-clr-hover: var(--accent-clr);
    --fine-clr: hsl(110, 100%, 20%);
    --hint-clr: hsl(0, 100%, 40%);
    --mark-clr: hsl(45, 100%, 40%);
  }
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
.bg-grey,
.bg-light,
.bg-dark,
.bg-accent,
.bg-theme {
  background-size: 150%;
  background-position: center;
}

.bg-theme {
  background-image: linear-gradient(45deg, var(--theme-clr-dark), var(--theme-clr-light));
}

.bg-accent {
  background-image: linear-gradient(45deg, var(--accent-clr-dark), var(--accent-clr-light));
}

.bg-dark {
  background-image: linear-gradient(45deg, var(--dark-clr-dark), var(--dark-clr-light));
}

.bg-light {
  background-image: linear-gradient(45deg, var(--light-clr-dark), var(--light-clr-light));
}

.bg-grey {
  background-image: linear-gradient(45deg, var(--neutral-clr-dark), var(--neutral-clr-light));
}

html,
body {
  font-size: var(--step-0);
  font-family: var(--sans);
  line-height: 1.3;
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1;
  font-family: var(--serif);
  word-wrap: break-word;
  margin-bottom: 0.25em;
}

.logo {
  font-family: var(--serif);
  font-weight: 900;
  font-size: 85%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(45deg, var(--accent-clr-dark), var(--accent-clr-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: var(--step-3);
  text-align: center;
  line-height: 1;
  margin-bottom: 0.25em;
  font-weight: 900;
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(45deg, var(--accent-clr-dark), var(--accent-clr-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-grade {
  background-size: 150%;
  background-position: center;
  background-image: linear-gradient(45deg, var(--text-grade-dark), var(--text-grade-light));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer a {
  margin-left: 0.25em;
}

p {
  margin-bottom: 0.5em;
}

p:first-of-type {
  margin-top: 0.5em;
}

h2,
.heading {
  font-size: var(--step-2);
  font-weight: 400;
}

h3,
.subheading {
  font-size: var(--step-1);
  color: var(--accent-clr);
}

h4 {
  font-size: var(--step-0);
  text-transform: uppercase;
}

h5 {
  font-size: var(--step-0);
  text-transform: uppercase;
  color: var(--accent-clr);
  letter-spacing: 2px;
}

small,
.small {
  font-size: var(--step--1);
}

.text-small {
  font-size: var(--step--1);
}

.text-regular {
  font-size: var(--step-0);
}

.text-thin {
  font-weight: 200;
}

.accent-clr {
  color: var(--accent-clr);
}

.theme-clr {
  color: var(--theme-clr);
}

html {
  color: var(--text-clr);
  background-color: var(--background-clr);
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  padding-inline: 1rem;
}
footer p,
footer span {
  font-size: 90%;
}

main {
  flex: 0 1 100%;
}

footer,
header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

header {
  background: var(--theme-clr);
  padding-inline: 1rem;
}
header .logo,
header a:link,
header a:visited {
  color: var(--accent-clr);
}

.header,
.main,
.section,
.article,
.footer {
  box-sizing: inherit;
  margin-inline: auto;
}

.main {
  padding-block: var(--spacing);
}

.main,
.article,
.section {
  display: flex;
  flex-direction: column;
}

.main,
.section {
  width: min(100% - 2rem, 1280px);
}

.article {
  width: min(100%, 75ch);
}

.header,
.footer {
  display: flex;
  max-width: 1500px;
  justify-content: space-between;
}

nav ul {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 90%;
  color: var(--accent-clr);
  gap: 0.5em;
}

.nav__item.active {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.25em;
}

.article__item + .article__item {
  margin-top: 1.75em;
}

.article__preview h2,
.article__preview p {
  margin-top: 0;
}

article .category {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  margin-left: 1em;
  padding: 0 0.5em;
  border-inline: 1px solid;
  line-height: 1;
}
article .category:hover {
  text-decoration: underline;
}
article small {
  display: inline-block;
  margin-bottom: 0.5em;
}

#searchResults li {
  color: var(--accent-clr);
}

details {
  display: flex;
  box-sizing: border-box;
  width: min(100%, 960px);
  flex-direction: column;
  align-items: flex-start;
  margin-inline: auto;
  padding: 0.75em 1em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 0.25em;
  overflow: hidden;
  position: relative;
}

summary {
  display: list-item;
  font-weight: 700;
  font-size: var(--step--1);
  cursor: pointer;
  outline: none;
  color: var(--accent-clr);
}

details summary::before,
details summary::after,
details[open] summary::before,
details[open] summary::after {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--neutral-clr-dark);
}

details[open] summary {
  margin-bottom: 0.5em;
  border-bottom: 1px solid;
}

details summary::before {
  content: "+";
}

details summary::after,
details[open] summary::after {
  content: " ";
}

details[open] summary::before {
  content: "–";
}

table {
  border-collapse: collapse;
  margin-block: 1em;
  font-size: 80%;
  margin-inline: auto;
  width: min(100%, 960px);
}

th,
td {
  padding: 0.25em;
}

th {
  text-align: left;
  color: var(--accent-clr);
  font-style: italic;
}

td {
  border-bottom: 1px solid;
}

th:first-child,
td:first-child {
  padding-left: 0.125em;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
  border-bottom: 2px solid;
}

:where(a) {
  color: var(--link-clr);
  outline: transparent;
  text-decoration: none;
  text-underline-offset: 0.25em;
}
:where(a):hover, :where(a):focus-visible {
  color: var(--link-clr-hover);
  text-decoration: underline;
}
:where(a):visited {
  color: var(--link-clr);
}

.button,
button,
input[type=submit],
input[type=button] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 15ch;
  text-decoration: none;
  outline: transparent;
  border: 1px solid;
  border-radius: 0.25em;
  cursor: pointer;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1;
  font-size: var(--step--1);
  padding-block: var(--padding);
  text-transform: uppercase;
  background-color: transparent;
  transition: all 250ms ease-in-out;
}
.button:hover, .button:focus-visible,
button:hover,
button:focus-visible,
input[type=submit]:hover,
input[type=submit]:focus-visible,
input[type=button]:hover,
input[type=button]:focus-visible {
  background-color: var(--theme-clr);
}

button,
.button {
  max-width: fit-content;
}

button.dark,
.button.dark {
  color: var(--text-clr);
  background-color: var(--background-clr);
}
button.dark:hover, button.dark:focus-visible,
.button.dark:hover,
.button.dark:focus-visible {
  background-color: transparent;
}

button.light,
.button.light {
  color: var(--text-clr);
  background-color: var(--neutral-clr);
}
button.light:hover, button.light:focus-visible,
.button.light:hover,
.button.light:focus-visible {
  background-color: transparent;
}

button.theme,
.button.theme {
  color: var(--text-clr);
  background-color: var(--theme-clr);
}
button.theme:hover, button.theme:focus-visible,
.button.theme:hover,
.button.theme:focus-visible {
  background-color: transparent;
}

button.accent,
.button.accent {
  color: var(--text-clr);
  background-color: var(--accent-clr);
}
button.accent:hover, button.accent:focus-visible,
.button.accent:hover,
.button.accent:focus-visible {
  background-color: transparent;
}

.btn-group {
  display: flex;
  gap: var(--spacing);
  margin-block: var(--spacing);
}

a:link,
a:visited {
  color: var(--link-clr);
  text-underline-offset: 0.25em;
  text-decoration: none;
}
a:link:hover, a:link:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: underline;
}
a:link:active,
a:visited:active {
  color: var(--accent-clr);
}

[aria-current] {
  font-weight: 700;
  font-style: italic;
}

.icons {
  font-size: var(--step-5);
  line-height: 1.25;
  border-radius: 0.25em 0.1em 0.25em 0.1em;
  padding-inline: 0.5em;
  color: var(--theme-clr);
}

.cta,
.h-face {
  color: var(--accent-clr);
}

ol li {
  margin-bottom: 1em;
}

time,
address {
  font-style: italic;
  padding-left: 0.5em;
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

.grid-center {
  display: grid;
  place-content: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.grid-wrap {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch, 1fr)));
}

.flex-aside {
  display: flex;
  flex-wrap: wrap;
  font-size: 80%;
  width: min(100%, 960px);
  border-radius: 0.15em;
  border: 1px solid;
  gap: 0.5em;
  padding-block: 0.5em;
  border-color: var(--accent-clr);
  margin-inline: auto;
}
.flex-aside > *:nth-child(1) {
  flex: 1 1 40%;
  display: grid;
  align-self: center;
  padding-inline: 0.75em;
}
.flex-aside > *:nth-child(2) {
  flex: 1 1 50%;
  min-width: 15rem;
  border-radius: 0;
}

.cards {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
}

.cards > li {
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
}

li > img {
  margin-block: var(--spacing-sm);
}

.horizon {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0 1em;
  -webkit-overflow-scrolling: touch;
}

.horizon > * {
  width: min(45ch, 60vw);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.35);
}

.card > img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}

.card > img:first-child {
  border-radius: 0.5em 0.5em 0 0;
}

.card > img:last-child {
  border-radius: 0 0 0.5em 0.5em;
  margin-top: auto;
}

.card > :not(img) {
  margin-left: 1em;
  margin-right: 1em;
}

.card > :not(img):first-child {
  margin-top: 1em;
}

.card > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1em;
}

.card > :not(h2, h3, h4) {
  font-size: 0.9em;
}

.card > a {
  align-self: start;
}

.cards a {
  color: var(--accent-clr);
}

.intro {
  display: grid;
  place-items: center;
}
.intro h2,
.intro h3 {
  margin-bottom: 0.25em;
}

.news {
  border-bottom: 1px dotted;
}

p + p {
  margin-bottom: 1em;
}

blockquote {
  padding: 0.25em;
  font-size: var(--step-0);
  border: 1px solid;
  border-radius: 0.25em;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-inline: auto;
  text-align: center;
}
blockquote strong {
  color: var(--accent-clr);
}

blockquote p {
  margin-top: 0;
}

cite {
  display: block;
  font-size: var(--step--1);
  text-align: right;
}

img,
svg,
figure,
picture {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-inline: auto;
  border-radius: 0.125em;
}

figure {
  filter: grayscale(5%);
  background: var(--neutral-clr);
  margin-block: var(--spacing);
}

figcaption {
  font-size: 85%;
  padding-block: 0.25em;
}

ul {
  list-style: none;
}

li::marker {
  color: var(--accent-clr);
}

::selection {
  background-color: var(--accent-clr);
  color: var(--text-clr);
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--accent-clr);
}

cite {
  color: var(--accent-clr);
}

mark {
  padding: 0 0.25em;
  background-color: var(--mark-clr);
}

figcaption {
  text-align: center;
  padding-top: 0.25em;
}

figcaption::before {
  content: " ➥";
  color: var(--accent-clr);
  margin-right: 0.25em;
}

time::before {
  content: " ☭";
  font-size: 0.75em;
  color: var(--theme-clr);
  border: 1px solid;
  padding: 0 0.2em 0 0;
  margin-right: 0.5em;
  border-radius: 0.4em 0 0.4em 0;
  background: var(--accent-clr);
}

a[href^="https://"]:hover::after {
  content: "➚";
}

main a[href^="https://"]::before {
  content: "🌐 ";
  font-size: 0.7em;
}
main a[href^=mailto]::before {
  content: " 📧 ";
}
main a[href^=tel]::before {
  content: "☎ ";
}
main a[href$=".pdf"]::before {
  content: "📖 ";
}
main a[href$=".pdf"]:hover::after {
  content: "⇲";
}

.article__list li a:hover::after {
  content: "⇾";
}

.tag-list {
  display: flex;
  gap: 1em;
}

.tag-list li,
.tag-list a {
  display: block;
}

.tag-list a::before {
  content: "#";
}

form {
  width: min(100%, 60rem);
  padding-inline: 1em;
}

.button,
button,
input[type=submit],
input[type=button] {
  display: inline-block;
  padding: 0.2em 0.6em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--background-clr);
  color: var(--text);
  border-radius: 0.25em;
  border: 1px solid;
  cursor: pointer;
}

.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type=submit]:focus:enabled,
input[type=submit]:hover:enabled,
input[type=button]:focus:enabled,
input[type=button]:hover:enabled {
  background-color: var(--theme-clr);
  color: var(--text-clr);
  outline: 0;
}

textarea {
  resize: none;
  line-height: 1.1;
  height: 10rem;
}

textarea,
select,
input {
  color: var(--text-clr);
  padding: 0.2em 0.6em;
  background-color: var(--background-clr);
  border: 1px solid var(--neutral-clr-dark);
  border-radius: 0.25em;
  width: min(100%, 60rem);
  box-shadow: none;
}

textarea:focus,
select:focus,
input:focus {
  border: 1px solid var(--accent-clr);
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 1px dotted var(--accent-clr);
}

label,
legend,
fieldset {
  display: block;
  font-weight: 600;
}

input {
  text-align: center;
  accent-color: var(--theme-clr);
  border: 1px solid var(--neutral-clr-dark);
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error);
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--valid);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error {
  display: block;
}

.error {
  display: none;
}

[type=range],
meter,
progress {
  display: block;
  width: 100%;
  height: 2em;
}

[type=color] {
  height: 2em;
  vertical-align: top;
}

.field {
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.5em;
}

@media print {
  body,
  summary,
  details,
  button,
  input,
  textarea {
    background-color: #fff !important;
  }
  * {
    background-image: none !important;
  }
  @page {
    margin: 2cm;
  }
  table {
    break-inside: avoid !important;
  }
  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.25 !important;
  }
  h1,
  header,
  footer,
  nav,
  iframe,
  audio,
  video,
  svg,
  input,
  button {
    display: none !important;
  }
  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }
  img {
    max-width: 600px;
  }
  li {
    content: "» ";
  }
  blockquote,
  ul {
    margin: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  textarea,
  footer,
  summary,
  strong {
    color: #000 !important;
  }
  summary::marker {
    color: #000 !important;
  }
  summary::-webkit-details-marker {
    color: #000 !important;
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  a[href]:after {
    content: " (" attr(href) ") ";
  }
}
