---
permalink: "/feed.xml"
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ meta.title }}</title>
  <subtitle>{{ meta.description }}</subtitle>
  <link href="{{ meta.feedUrl }}" rel="self" />
  <link href="{{ meta.url }}" />
  <updated>{{
    collections.blog | getNewestCollectionItemDate | dateToRfc3339
  }}</updated>
  <id>{{ meta.url }}</id>
  <author>
    <name>{{ meta.author.name }}</name>
  </author>

  {%- for article in collections.blog -%} {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(meta.url)

  }}{% endset %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    {% set excerpt = article.data.excerpt %}
    <content
      type="html"
      >{{ excerpt | htmlToAbsoluteUrls(absolutePostUrl) }}</content
    >
  </entry>
  {%- endfor -%}
</feed>
