---
layout: page
---

<article class="article">
  <h1>{{ title }}</h1>

  <small>
    Published: <time>{{ date | readableDate }}</time> <br />
    by {{ metadata.author.name }} | {{ content | emojiReadTime }}
    <a class="category" href="/{{ category }}/">{{ category }}</a>
  </small>
  {{ content | safe }}
</article>
<br />
<p class="center">
  Back to <a href="/{{ category }}"> &#9783; menu</a> |
  <a href="/blog"> &#9776; main</a> |
  <a href="/assistant.html"> &#9757; help</a>
</p>
