---
layout: page
type: post
eleventyComputed:
  meta:
    author:
      name: "{{ meta.author.name }}"
    published: "{{ date | iso8601 }}"
---

<article class="article">
  <h1>{{ title }}</h1>

  <small>
    Published: <time>{{ date | readableDate }}</time> <br />
    by {{ meta.author.name }} | {{ content | emojiReadTime }}
    <a class="category" href="/{{ category }}/">{{ category }}</a>
  </small>
  <br />
  <i>{{ description }}</i>
  {{ content | safe }}
</article>
<br />

{% set previousPost = collections.blog | getPreviousCollectionItem(page) %} {%
set nextPost = collections.blog | getNextCollectionItem(page) %}

<p class="center">
  {% if previousPost %} <i>Previous:</i>
  <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a> {% endif %}

  <br />

  {% if nextPost %} <i>Next:</i>
  <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> {% endif %}
</p>
<br />
<p class="center submenu">
  <a href="/{{ category }}"> &#9783; List</a> |
  <a href="/journals"> &#9776; Main</a> |
  <a href="/assist"> &#8633; Help</a>
</p>
