---
layout: page
---

<article class="article">
  <h1>{{ title }}</h1>

  <small>
    Published: <time>{{ date | readableDate }}</time> <br />
    by {{ metadata.author.name }} | {{ content | emojiReadTime }}
    <a class="category" href="/{{ category }}/">{{ category }}</a>
  </small>
  {{ content | safe }}
</article>
<br />
<p class="center submenu">
  <a href="/{{ category }}"> &#8593; Top</a> |
  <a href="/blog"> &#9776; Main</a> |
  <a href="/assistant.html"> &#8633; Help</a>
</p>
