<!DOCTYPE html>
<html lang="{{ metadata.language }}">
  <head>
    <!-- analytics (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QNL8WBNJYD"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QNL8WBNJYD");
    </script>

    <!-- view (HTML5) -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <!-- favicons (favicon.ico) -->
    <link rel="icon" sizes="48x48" href="{{ '/favicon.ico' | url }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/apple-touch-icon.png' | url }}"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="canonical" href="{{ metadata.url + page.url }}" itemprop="url" />

    <!-- feed xml/ json -->
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
    <link
      rel="alternate"
      href="{{ metadata.jsonfeed.path | url }}"
      type="application/json"
      title="{{ metadata.title }}"
    />

    <!-- 11ty (11ty.dev) -->
    {% include "../components/metadata.njk" %}
    <script type="module" src="/assets/svg-icon-sprite.js"></script>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

    <!-- verification (verify) -->
    <meta name="yandex-verification" content="0e5a7d1a39fc2791" />
    <meta
      name="google-site-verification"
      content="T-DI1gm3vZcLXPw35OnTPl7Ke7am206654WrBQBdzXo"
    />
    <meta name="p:domain_verify" content="dcbdfe521eb082dbb108a118efdbdde3" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>
