---
type: page
meta:
eleventyComputed:
  meta:
    site:
      name: "{{ meta.title }}"
      description: "{{ meta.description }}"
      url: "{{ meta.url }}"
    title: "{{ title or meta.title }}"
    description: "{{ description or meta.description }}"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />

    <!-- favicons (favicon.ico) -->
    <link rel="icon" sizes="48x48" href="{{ '/favicon.ico' | url }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/apple-touch.png' | url }}"
    />
    <meta name="theme-color" content="#fff700" />
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <link rel="canonical" href="{{ meta.url + page.url }}" itemprop="url" />

    <!-- 11ty (11ty.dev) -->
    {% include "../components/meta.njk" %}
    <script defer src="/assets/svg-icon-sprite.js"></script>
    <script defer src="/assets/js/metric.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | url }}" />
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      {{ content | safe }}
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>
