---
layout: page
type: post
---

<article class="article">
  <h1>{{ title }}</h1>
  <center>
    <h5>{{ description }}</h5>
  </center>
  <br />
  <small> {{ content | emojiReadTime }} | By {{ author }} </small><br />
  {{ content | safe }}
</article>

<p class="right">
  For more information, please contact
  <strong>Municipal Socialist Alliance (MSA)</strong>
  <br />
  <a href="tel:647-986-1917">Call: 647-986-1917</a> |
  <a href="mailto: municipalsocialistalliance@gmail.com"
    >Email: municipalsocialistalliance@gmail.com</a
  >
</p>
<br />
<hr />
{% set previousPost = collections.news | getPreviousCollectionItem(page) %} {%
set nextPost = collections.news | getNextCollectionItem(page) %}

<span>
  {% if previousPost %}
  <h4>Previous:</h4>
  <a href="{{ previousPost.url }}"
    ><i>{{ previousPost.data.title }}</i></a
  >
  {% endif %}
  <br /><br />
  {% if nextPost %}
  <h4>Next:</h4>
  <a href="{{ nextPost.url }}"
    ><i>{{ nextPost.data.title }}</i></a
  >
  {% endif %}
</span>
