<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="robots"
      content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"
    />
    <!-- generators -->
    <title>{{ title or meta.title }}</title>
    <link rel="icon" sizes="48x48" href="{{ '/favicon.ico' | url }}" />
    <link rel="canonical" href="{{ meta.url + page.url }}" itemprop="url" />
    <meta name="description" content="{{ description or meta.description }}" />
    <meta name="generator" content="{{ eleventy.generator }}" />

    <!-- prefetch -->
    <link rel="dns-prefetch" href="{{ meta.url | url }}" />

    <!-- feed xml/ json -->
    <link
      rel="alternate"
      href="{{ meta.feed.path | url }}"
      type="application/atom+xml"
      title="{{ meta.title }}"
    />
    <link
      rel="alternate"
      href="{{ meta.jsonfeed.path | url }}"
      type="application/json"
      title="{{ meta.title }}"
    />

    <!-- 11ty (11ty.dev) -->
    {% include "../components/meta.njk" %}

    <!-- analytics -->
    <script defer src="{{ '/assets/js/metric.js' | url }}"></script>
    <script defer src="{{ '/assets/js/video.js' | url }}"></script>

    <!-- styles -->
    {% set css %} {% include "assets/css/main.css" %} {% endset %}
    <style>
      {{ css | safe }}
    </style>
  </head>

  <body>
    {% include "../components/header.njk" %}
    <main role="main">
      <div class="main">
        {{ content | safe }}
      </div>
    </main>
    {% include "../components/footer.njk" %}
  </body>
</html>
