---
title: Kiri Vadivelu | MSA Political Program
description: Socialist Program and Electoral Priorities
layout: page
eleventyNavigation:
  key: policy
  order: 2
---

<section>
  <h2 class="text-grade text-center">
    Socialist Program & Electoral Priorities
  </h2>
  <ul class="cards">
    <li>
      <img
        src="/assets/images/police-brutality-kiri-vadivelu.jpg"
        alt="Police Brutality"
      />
      <br />
      <h3>
        De-fund the Police!
        <a href="/assets/docs/defund-the-police.pdf">How?</a>
      </h3>

      <span
        >In the midst of the COVID lock down, Toronto police evicted houseless
        people from public parks. It was state- funded violence that injured
        members of the public who defended the vulnerable from the blows of
        police brutality.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a></span
      >
    </li>
    <li>
      <img
        src="/assets/images/school-breakfast-kiri-vadivelu.jpg"
        alt="School Breakfast"
      />
      <br />
      <h3>Fund Our Schools</h3>
      <span>
        Children who eat breakfast tend to do better in school. But many working
        families cannot afford the meal due to low take home pay. The city
        should fill the breakfast gap.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>
    <li>
      <img
        src="/assets/images/free-transit-kiri-vadivelu.jpg"
        alt="Free Transit"
      />
      <br />
      <h3>Make Transit Free</h3>
      <span>
        Students should never have to choose between bus fare and lunch in a
        wealthy city. Criminalizing poverty through expensive fare enforcement
        is unjust, not just a bad look for tourism.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>
    <li>
      <img
        src="/assets/images/giant-landlord-kiri-vadivelu.jpg"
        alt="Public Housing"
      />
      <br />
      <h3>Expropriate Giant Landlords</h3>
      <span>
        Housing should not be a commodity. Developers do not build housing to
        meet a social need, but to generate private wealth for shareholders –
        benefiting from tax dollar funded infrastructure benefits. Housing is a
        human right.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a></span
      >
    </li>
    <li>
      <img
        src="/assets/images/toronto-poverty-kiri-vadivelu.jpg"
        alt="Wealth Inequality"
      />
      <br />
      <h3>Wealth Inequality Tax</h3>
      <span
        >Since 1970, profits of big corporations have been sky rocketing while
        working people earn less due to inflation and pay more in taxes. Tax the
        corporate welfare bums.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/service-discrimination-kiri-vadivelu.jpg"
        alt="Service Discrimination"
      />
      <br />
      <h3>End Service Discrimination</h3>
      <span>
        Banking is an essential service, yet banks discriminate against poor
        people by default with higher fees, e.g NSF fees. Likewise, insurance
        companies assess risk by postal code discrimination.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/private-jet-kiri-vadivelu.jpg"
        alt="System Change"
      />
      <br />
      <h3>Change the System; not Climate</h3>
      <span>
        Scientists have been warning about climate change for over 50 years. Big
        oil-sponsored studies fret about paper straws while billionaires fly
        about in private jets.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/corrupt-politicians-kiri-vadivelu.jpg"
        alt="Corrupt Politicians"
      />
      <h3>Imprison Corrupted Politicians</h3>
      <span>
        No domestic politicians have been jailed for accepting a bribe although
        it is common for them accept donations from corporations, only to play
        innocent.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/sammy-yatim-police.jpg"
        alt="Sammy Yatim vs Toronto Police"
      />
      <h3>Invest in Mental Health Care</h3>
      <span>
        Many people don't see mental illness in the same way as other diseases
        medical science is working hard to find cures for. Death of Sammy Yatim
        in the hand of police trained to save life is unjustified in every way.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/rogers-shaw-merger.jpg"
        alt="Rogers Shaw Merger in 2023"
      />
      <h3>Economic Democracy, Not Monopoly</h3>
      <span>
        Canadians pay highest cost for telecom services compared to all other
        big cities in the world. The monopoly on price fixing as result of
        Rogers and Shaw merger is an assault on economic democracy.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/hands-off-cyclists.jpg"
        alt="Hands Off Cyclists"
      />
      <h3>Hands Off Cyclists</h3>
      <span>
        Increasing the safety of pedestrians and cyclists will aid the
        transition to a greener, cleaner, healthier, more sustainable urban mode
        of transportation. Cops ticketing cyclists underscores the need for
        safer, more visible and self-contained bicycle paths.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>

    <li>
      <img
        src="/assets/images/more-parks-kiri-vadivelu.jpg"
        alt="Create Parks"
      />
      <br />
      <h3>Create Parks; not Parking Lots</h3>
      <span>
        Instead of lecturing drivers to get out of their cars, invest in
        reliable, efficient public transportation to give workers a meaningful
        choice. Stop plundering the protected green belt.
        <a href="/assets/docs/socialist-program-2023.pdf"
          ><strong class="cta">&#10140;</strong>
        </a>
      </span>
    </li>
  </ul>
</section>
<br />
<article class="article">
  <img
    src="/assets/images/school-youth-seniors.jpg"
    alt="Supporting Youth and Seniors"
  />
  <br />
  <h3 class="text-center">What About Youth and Seniors?</h3>
  <p>
    Youth and seniors are the core of any thriving society. However, capitalism
    view providing services to seniors and youth as too expensive and burden for
    tax payers. During the pandemic, seniors were left to die in private
    long-term care homes while mental health of youth were not part of any city
    planning.
  </p>

  <p>
    Under socialist system, schools and libraries will be adequately funded to
    create new extra curricular activities. For an example, bring seniors into
    our schools for both learning and teaching assistance. Seniors would become
    tech-savy while students reap the benefit of rich life experiences directly
    from our seniors.
  </p>
</article>
<hr />
<article class="article">
  <img
    src="/assets/images/fairness-equality-equity.png"
    alt="Equality vs Equity in Fairness"
  />
  <br />
  <h3>Fair Application of Traffic Laws with Revenue Tools for the City</h3>
  <p>
    Traffic fatalities are on the rise, advanced technologies are not helpful
    and Toronto cannot afford road repairs but the general rise of fines and
    penalties has hurt the economically underprivileged most cruelly.
    Application of traffic laws without equity breeds inequality and fails to
    deter perpetrators.
  </p>
  <p>
    Penalties for traffic infractions should consider the economic status, the
    ability to pay, of the convicted person. A progressive penalty model which
    involves calculating disposable income would be a more equitable deterrent
    to speeding and make city safer for pedestrians, cyclists and motorists
    simultaneously.
  </p>
</article>

<br />
<ul class="cards">
  <li>
    <center><span class="bg-accent icons">&#9823;</span></center>
    <br />
    <h5 class="center"><strong>Volunteer</strong></h5>
    <ol class="contribute">
      <li>Be a flyer distributing / door knocking captain</li>
      <li>Bring your ideas to an MSA Convention or team meeting</li>
      <li>Get in touch with us, as soon as possible</li>
    </ol>
    <a href="/campaign/volunteer">Learn More</a>
  </li>
  <li>
    <center><span class="bg-accent icons">&#10084;</span></center>
    <br />
    <h5 class="center"><strong>Share</strong></h5>
    <ol>
      <li>Talk to your neighbours about the election</li>
      <li>Showcase your creativity on social media</li>
      <li>Help us break through the corporate media blackout</li>
    </ol>
    <a href="/campaign/share">Learn More</a>
  </li>

  <li>
    <center><span class="bg-accent icons">&#36;</span></center>
    <br />
    <h5 class="center"><strong>Donate</strong></h5>
    <ol>
      <li>Of course, only if you can afford to do so</li>
      <li>Help us cover the cost campaigning, and reach out farther</li>
      <li>Please contact us for payment method</li>
    </ol>
    <a href="/campaign/donate">Learn More</a>
  </li>
</ul>
<br />
<section>
  <div class="flex-aside">
    <i>
      Whether you choose to decorate Toronto streets or your school bathroom,
      thats your freedom of choice. If you are not sure about anything, just
      give us a ring.
    </i>
    <div>
      <h1>Embrace Socialism Everywhere</h1>
    </div>
  </div>
</section>
<br />
<ul class="cards">
  <li>
    <h3>Posters</h3>
    <a href="/assets/docs/socialist-mayor-poster.pdf">Socialist Poster</a>
  </li>
  <li>
    <h3>Leaflets</h3>
    <a href="/assets/docs/socialist_mayor_leaflet_gardiner.pdf"
      >Strip the Gardiner</a
    >
    <br />
    <a href="/assets/docs/socialist_mayor_leaflet_police.pdf"
      >Failure of the Police</a
    >
  </li>
  <li>
    <h3>Flyers</h3>
    <a href="/assets/docs/kiri-vadivelu-for-mayor-4x5.pdf">Socialist Flyer</a>
    <br />
    <a href="/assets/docs/kiri-vadivelu-for-mayor-4x5-color.pdf"
      >Socialist Flyer - Color</a
    >
  </li>
</ul>
