---
title: Kiri Vadivelu | Volunteer for Socialist Campaign
description: "Build class conscious community leadership skills"
layout: page
---

<h1>Volunteer for Socialist Campaign</h1>
<p>
  Volunteering at political campaign is a perfect opportunity to build
  leadership skills. With MSA, our volunteers are class conscious community
  leaders. We do not believe that paper straws will save the environment in the
  current rate of crisis; thats why, we advocate for real climate change policy
  such as free public transit.
</p>
<br />

<ul class="cards">
  <li>
    <h3>Invite Socialists to Your Neighborhood</h3>
    <p>
      Let us know when you are available and how many flyers would be needed for
      your neighborhood. We will come with flyers and help you spread the word.
    </p>
  </li>
  <li>
    <h3>Help Us Plan & Host a Public Event</h3>
    <p>
      Connect with MSA team member to find out about upcoming event and help us
      reach more people. Our primary method of campaign is word of mouth.
    </p>
  </li>
</ul>
<br />
<ul class="cards">
  <li>
    <h3>Join to Decorate Our Landscape with Posters</h3>
    <p>
      Join us to decorate our communities with beautiful posters about
      socialism, labour democracy and climate justice.
    </p>
  </li>
</ul>
