@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  margin-inline-start: 0;
  padding-inline-start: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.4;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: var(--serif);
  word-wrap: break-word;
  margin: 0.5em 0 0.25em 0;
}

.logo {
  font-family: var(--serif);
  font-weight: 600;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo span {
  text-shadow: var(--t-shadow);
}

.logo span::after {
  content: " ›";
  font-size: 1.5em;
}

footer span {
  font-weight: 600;
}

footer a {
  margin-left: 0.25em;
}

p {
  font-size: var(--step-0);
  margin-bottom: 0.5em;
}

p:first-of-type {
  margin-top: 0.5em;
}

h2 {
  font-size: var(--step-2);
  font-weight: 700;
  letter-spacing: -0.1rem;
  opacity: 0.85;
}

h1 {
  font-size: var(--step-3);
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.15rem;
  opacity: 0.8;
}

h3 {
  opacity: 0.9;
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step--1);
  text-transform: uppercase;
  opacity: 0.95;
}

small {
  font-size: var(--step--1);
  text-transform: uppercase;
}

:root {
  /* Theming */
  --text: hsl(0, 0%, 5%);
  --surface: hsl(0, 0%, 96%);
  --surface-alt: hsl(0, 0%, 80%);
  --surface-clear: transparent;
  --theme: hsl(58, 100%, 50%);
  --theme-text: hsl(0, 0%, 5%);
  --valid: hsl(120, 100%, 50%);
  --error: hsl(0, 100%, 60%);
  --link: hsl(210, 100%, 35%);
  --neutral: hsl(0, 0%, 80%);
  /* Properties */
  --time: 250ms;
  --function: ease;
  --radius: 0.5em;
  --opacity: 0.85;
  --border: 1px;
  --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.2);
  --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
  --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));
  /* Spacing */
  --spacing: clamp(1em, 5%, 3em);
  --spacing-lg: clamp(2em, 10%, 6em);
  --spacing-sm: clamp(0.25em, 1.25%, 0.75em);
  /* Fonts */
  --sans: "Gill Sans", "Trebuchet MS", sans-serif;
  --serif: "Baskerville", "Palatino", serif;
  --mono: "Consolas", "Courier New", monospace;
  --curs: "Brush Script MT", "Comic Sans MS", cursive;
  /* Typography */
  --step--1: clamp(0.75rem, calc(0.63rem + 0.63vw), 1.13rem);
  --step-0: clamp(1rem, calc(0.83rem + 0.83vw), 1.5rem);
  --step-1: clamp(1.33rem, calc(1.11rem + 1.11vw), 2rem);
  --step-2: clamp(1.78rem, calc(1.48rem + 1.48vw), 2.67rem);
  --step-3: clamp(2.37rem, calc(1.97rem + 1.97vw), 3.55rem);
  --step-4: clamp(3.16rem, calc(2.63rem + 2.63vw), 4.74rem);
  --step-5: clamp(4.21rem, calc(3.51rem + 3.51vw), 6.31rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: hsl(0, 0%, 98%);
    --surface: hsl(0, 0%, 20%);
    --surface-alt: hsl(0, 0%, 10%);
    --theme: hsl(58, 100%, 45%);
    --theme-text: hsl(0, 0%, 95%);
    --valid: hsl(120, 100%, 30%);
    --error: hsl(0, 100%, 30%);
    --link: hsl(210, 100%, 55%);
    --neutral: hsl(0, 0%, 40%);
    --b-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    --t-shadow: 0px 12px 12px rgba(0, 0, 0, 0.15);
    --d-shadow: (0px 0px 10px rgba(0, 0, 0, 0.5));
    --i-shadow: 0px 150px 100px -25px rgba(0, 0, 0, 0.25);
  }
  img {
    filter: brightness(0.8) contrast(1.2);
  }
}
html {
  color: var(--text);
  background-color: var(--surface);
  font-family: var(--sans);
  font-size: var(--step-0);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

footer {
  margin-top: auto;
  padding-block: var(--spacing-sm);
  border-top: 1px solid;
}
footer p {
  font-size: 85%;
}

main {
  flex: 0 1 100%;
  padding-block: var(--spacing);
}
main nav span {
  font-size: 1.1em;
  font-weight: 600;
}

header {
  color: var(--theme-text);
  background: var(--theme);
}

.wrapper {
  width: min(100%, 80rem);
  margin-right: auto;
  margin-left: auto;
  padding-inline: 1em;
  display: flex;
  justify-content: space-between;
}

main,
footer {
  width: min(100% - 2em, 50rem);
  margin-left: auto;
  margin-right: auto;
}

section {
  display: grid;
  place-items: center;
  padding-block: var(--spacing-sm);
}

nav ul li {
  display: inline-block;
  font-size: 1.1em;
}
nav ul li + li {
  margin-left: 0.7em;
}
nav ul li.active a {
  font-weight: 600;
  text-decoration: underline;
}
nav ul li a {
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  transition: color var(--time);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

a:link,
a:visited {
  color: var(--link);
  text-underline-offset: 0.25em;
  text-decoration: none;
  transition: all var(--time) var(--type);
}
a:link:hover, a:link:focus,
a:visited:hover,
a:visited:focus {
  text-decoration: underline;
}
a:link:active,
a:visited:active {
  color: var(--neutral);
}

main h1::after {
  content: "✦";
  font-size: 0.7em;
  margin: 0.2em;
}
main time::before {
  content: "☭";
  font-size: 0.9em;
  color: var(--link);
  border: 1px solid;
  padding: 0 0.3em;
  margin-right: 0.3em;
  border-radius: 0.1em 0.3em 0.1em 0.3em;
  background: var(--theme);
}
main a[href^="https://"]:hover::after {
  content: "➚";
  font-size: 0.75em;
  margin: 0.1em;
}
main a[href^=mailto]::before {
  content: "✉";
  font-size: 0.9em;
  margin: 0.2em;
}
main a[href^=tel]::before {
  content: "☏";
  font-size: 0.9em;
  margin: 0.2em;
}
main a[href$=".pdf"]:hover::after {
  content: "⇲";
  font-size: 0.9em;
  margin: 0.2em;
}

.article__list li a:hover::after {
  content: "⇾";
  font-size: 0.7em;
  margin: 0.2em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid;
}

mark {
  padding: 0 0.25em;
  background-color: var(--mark);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.side {
  display: grid;
  grid-template-columns: fit-content(20ch) minmax(min(50vw, 30ch), 1fr);
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch, 1fr)));
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.flex > * {
  flex: 1 1 20ch;
}

.cards {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr));
}

.cards > li {
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.15);
}

.horizon {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 0 0 1em;
  -webkit-overflow-scrolling: touch;
}

.horizon > * {
  width: min(45ch, 60vw);
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.35);
}

.card > img {
  aspect-ratio: 3/2;
  object-fit: cover;
  width: 100%;
}

.card > img:first-child {
  border-radius: 0.5em 0.5em 0 0;
}

.card > img:last-child {
  border-radius: 0 0 0.5em 0.5em;
  margin-top: auto;
}

.card > :not(img) {
  margin-left: 1em;
  margin-right: 1em;
}

.card > :not(img):first-child {
  margin-top: 1em;
}

.card > :last-of-type:not(img, h2, h3, h4) {
  margin-bottom: 1em;
}

.card > :not(h2, h3, h4) {
  font-size: 0.9em;
}

.card > a {
  align-self: start;
}

.intro {
  display: grid;
  place-items: center;
}

.news {
  border-bottom: 1px dotted;
}

blockquote {
  padding: 0.25em;
  font-size: var(--step-4);
  width: min(100%, 40rem);
  background-color: var(--neutral);
  border-radius: var(--radius);
  line-height: 1;
  margin-bottom: 0.25em;
  margin-left: auto;
  margin-right: auto;
}

blockquote p {
  margin-top: 0;
}

blockquote:nth-child(odd) {
  border-left: 5px solid var(--theme);
}

blockquote:nth-child(even) {
  border-right: 5px solid var(--theme);
}

cite {
  display: block;
  font-size: var(--step-1);
  text-align: right;
}

img,
svg,
figure,
picture {
  max-width: 100%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--radius);
}

main > img {
  box-shadow: var(--i-shadow);
}

article > img {
  margin-block: var(--spacing);
}

figcaption {
  text-align: center;
}

figcaption::before {
  content: " ➥";
  color: var(--link);
}

figure {
  padding-block: var(--spacing);
}

ul {
  list-style: none;
}

li::marker {
  color: var(--link);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5em 0.75em;
}

th {
  text-align: left;
  color: var(--neutral);
}

td {
  border-bottom: 1px solid;
}

th:first-child,
td:first-child {
  padding-left: 0.5em;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tr th {
  border-bottom: 2px solid;
}

details {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75em 1em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 0.25em;
  overflow: hidden;
  position: relative;
}

summary {
  display: list-item;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  color: var(--link);
}

details summary::before,
details summary::after,
details[open] summary::before,
details[open] summary::after {
  position: absolute;
  top: 0.5em;
  right: 1em;
  color: var(--neutral);
}

details[open] summary {
  margin-bottom: 0.5em;
  border-bottom: 1px solid;
}

details summary::before {
  content: "open";
}

details summary::after,
details[open] summary::after {
  content: " ";
}

details[open] summary::before {
  content: "close";
}

.article__item + .article__item {
  margin-top: 1.75em;
}

article .category {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  margin-left: 1em;
  padding: 0 0.5em;
  border-inline: 1px solid;
  line-height: 1;
}
article .category:hover {
  background-color: var(--theme);
  text-decoration: none;
  color: var(--theme-text);
  transition: all var(--time) var(--function);
}
article small {
  display: inline-block;
  margin-bottom: 0.5em;
}

form {
  width: min(100%, 60rem);
  padding-inline: 1em;
}

.button,
button,
input[type=submit],
input[type=button] {
  display: inline-block;
  padding: 0.2em 0.6em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: var(--surface);
  color: var(--text);
  border-radius: var(--radius);
  border: 1px solid;
  cursor: pointer;
  transition: all var(--time) var(--function);
}

.button:focus:enabled,
.button:hover:enabled,
button:focus:enabled,
button:hover:enabled,
input[type=submit]:focus:enabled,
input[type=submit]:hover:enabled,
input[type=button]:focus:enabled,
input[type=button]:hover:enabled {
  background-color: var(--theme);
  color: var(--theme-text);
  outline: 0;
}

input,
textarea {
  border: 1px solid var(--neutral);
  width: min(100%, 60rem);
}

input:focus,
textarea:focus {
  border: 1px solid var(--theme);
}

textarea {
  resize: none;
  line-height: 1.1;
  height: 10rem;
}

textarea,
select,
input {
  color: var(--neutral);
  padding: 0.2em 0.6em;
  background-color: var(--surface);
  border: 1px solid var(--neutral);
  border-radius: var(--radius);
  box-shadow: none;
}

textarea:focus,
select:focus,
input:focus {
  border: 1px solid var(--theme);
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 1px dotted var(--theme);
}

label,
legend,
fieldset {
  display: block;
  font-weight: 600;
}

input {
  text-align: center;
  accent-color: var(--theme);
  border: 1px solid var(--neutral);
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error);
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--valid);
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error {
  display: block;
}

.error {
  display: none;
}

[type=range],
meter,
progress {
  display: block;
  width: 100%;
  height: 2em;
}

[type=color] {
  height: 2em;
  vertical-align: top;
}

time,
address {
  font-style: italic;
  padding-left: 0.5em;
}

audio,
video,
embed,
object {
  width: 100%;
  display: block;
}

::selection {
  background-color: var(--theme);
  color: var(--theme-text);
}

dialog {
  background-color: var(--theme);
  color: var(--text);
  border: none;
  border-radius: var(--radius);
  border-color: var(--border);
  padding: var(--spacing);
}

dialog::backdrop {
  background: var(--neutral);
  backdrop-filter: blur(0.15em);
  -webkit-backdrop-filter: blur(0.15em);
  transition: backdrop-filter var(--time) var(--function);
}

@media print {
  body,
summary,
details,
button,
input,
textarea {
    background-color: #fff;
  }
  button,
input,
textarea {
    border: 1px solid #000;
  }
  body,
h1,
h2,
h3,
h4,
button,
input,
textarea,
footer,
summary,
strong {
    color: #000;
  }
  summary::marker {
    color: #000;
  }
  summary::-webkit-details-marker {
    color: #000;
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  a {
    color: #00f;
    text-decoration: underline;
  }
}

/*# sourceMappingURL=style.css.map */
