---
title: Kiri Vadivelu | Background Information
description: "Why I Chose socialism over barbarism?"
layout: page
---

<h1>{{ description }}</h1>

<p>
  As we come out of the long pandemic, Toronto still have no plans in place to
  address the needs of working, young and the vulnerable in the city. Our wages
  shrink, expenses skyrocket and we consume the inflation all alone while
  billionaires sell junk wisdom but that is not a concern for status quo
  servants.
</p>
<p>
  City of Toronto elegantly criminalized poverty through evicting houseless
  people while Ottawa struck peaceful protesters with iron fist for resisting
  vaccine mandates. COVID 2020 reminded that capitalism cannot be reformed, that
  is why I am running for mayor to change the system.
</p>
<p>
  Media hype about crime but fail to report the fact that last year 187
  Torontonians were killed due to lack of care. After all, most corporate media
  outlets are owned by few individuals, undemocratically. In a social condition
  where people die in our streets without a home, non-partisan means
  pro-establishment.
</p>
<p>
  We, as individuals may have different opinions and views; however, we are the
  99 percent and share the common goals. The 1 percent who owns everything, do
  not live with us but continue to dictate politics around us. Therefore, we
  must rise to stop the tyranny, hate and division from mocking our democracy.
</p>
<p>
  Simply put, status quo leaders are corporate welfare bums rotating turns to
  serve the interest of liberal bourgeois. We, workers make the city run;
  therefore, workers should run the city, not the bosses. I am determined to
  break every wall that prevents working people from achieving their full
  potential in the city.
</p>

<p>
  As a one and only socialist candidate, I believe that grassroots movements
  lead by collective actions can restore democracy, peace and justice for all.
  For those reasons, I will be knocking on doors, dropping flyers and meeting
  people across the city along with volunteers of Municipal Socialist Alliance.
</p>
<p>
  Together, we can change the culture of city hall from oppression and
  exploitation to true democracy and representation. The proof is in the
  program, I invite you to read and share with everyone you care, instead of
  relying on the political options featured by the corporate media.
</p>
<p>
  The real change begins with you. Let us choose socialism over barbarism on
  June 26.
</p>
<p>
  In Solidarity, <br />
  Kiri Vadivelu
</p>
