---
title: Kiri Vadivelu | Take Action
description: Socialist Solutions to Capitalist Crisis
layout: page
eleventyNavigation:
  key: action
  order: 2
---

<h2>Examine the Program to Identify Priorities</h2>
<p>
  We all know, something have to change. We do not know where to start. Our
  grass-root movement is made up of people who genuinely care about our city.
  There is a place for you to <strong>contribute</strong> and become an active
  <strong>leader</strong> in your <strong>neighborhood</strong>. Thats the
  beauty of Municipal Socialist Alliance (MSA), all inclusive from the bottom
  up.
</p>
<br />
<q>Show me your program, I' ll tell your priorities</q>
<span> &#8594; Torontonians</span>
<br /><br />
<p>
  Establishment sponsored elections and endorsed candidates come and go but MSA
  is always active in our local communities. MSA believe that change do not come
  from outside but within us and by our actions. In a social condition where
  people die on the streets without adequate care,
  <strong>non-partisan means pro-establishment</strong>
  . See our
  <a
    href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
    >program</a
  >.
</p>

<h1>Experience the Butterfly Effect</h1>
<ol class="msa-team">
  <li>
    <h5><strong>Volunteer</strong></h5>
    <p>Be our flyer/door knocking captain</p>
    <p>Get in touch with our MSA Team</p>
  </li>
  <li>
    <h5><strong>Share</strong></h5>
    <p>Talk to your neighbors about election</p>
    <p>Showcase your creativity on social media</p>
    <p>Help us overcome corporate media blackout</p>
  </li>

  <li>
    <h5><strong>Donate</strong></h5>
    <p>Of course, only if you can afford</p>
    <p>Please contact us for payment method</p>
  </li>
</ol>
<br />
<article>
  <h3>MSA Team</h3>

  <p>
    <strong>Campaign Manager:</strong> Barry Weisleder | (647) 986-1917 |
    <a href="mailto:barryaw@rogers.com">Email</a>
  </p>
  <p>
    <strong>Policy Adviser: </strong> Alanna Johnston |
    <a href="mailto:policy@kiri-vadivelu.ca">Email</a>
  </p>
  <p>
    <strong>Campaign Support: </strong> Rubina Chowdhury |
    <a href="mailto:team@kiri-vadivelu.ca">Email</a>
  </p>
  <p>
    <strong>Campaign Support:</strong> Peter D'Gama |
    <a href="mailto:team@kiri-vadivelu.ca">Email</a>
  </p>

  <p>
    <strong>Social Media:</strong> Thushy Seelan |
    <a href="mailto:team@kiri-vadivelu.ca">Email</a>
  </p>

  <p>
    <strong>Candidate:</strong> Kiri Vadivelu |
    <a href="mailto:socialistmayor@kiri-vadivelu.ca">Email</a>
  </p>

  <p>
    <strong>MSA Website</strong>
    <a href="https://municipal.socialistalliance.ca"
      >Municipal Socialist Alliance</a
    >
  </p>
</article>
