---
title: Kiri Vadivelu | Political Action
description: Socialist Solutions to Capitalist Crisis
layout: page
eleventyNavigation:
  key: action
  order: 2
---

<h2 class="text-grade">Examine the Program to Identify Priorities</h2>
<ul class="cards">
  <li>
    <h3>De-fund the Police</h3>
    <span
      >In midst of covid lock down, Toronto police evicted houseless people from
      public parks using state funded violence and injured public members who
      came to defend the vulnerable from police brutality
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a></span
    >
  </li>
  <li>
    <h3>Fund Our Schools</h3>
    <span>
      Evidently, children who eat breakfast tend to do well in school but many
      working families cannot afford meal due to artificially small take home
      pay. City shall fill the gap with provincial funds
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
  <li>
    <h3>Make Transit Free</h3>
    <span>
      Students shall never have to decide between bus fare and lunch in a
      wealthiest city. Criminalizing poverty through expensive fare enforcement
      do not facilitate positive tourist experience
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
  <li>
    <h3>Expropriate Giant Landlords</h3>
    <span>
      Housing is not a private commodity. Developers do not build housing for
      people but create wealth for shareholders using tax dollar benefits. But,
      housing is a human right
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a></span
    >
  </li>
  <li>
    <h3>Wealth Inequality Tax</h3>
    <span
      >Since 1970, profit of big corporations have been sky rocketing while
      working people earn less with inflation and pay more on tax. End corporate
      welfare state
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>End Service Discrimination</h3>

    <span>
      Banking is an essential service; however, bank discriminates poor people
      by default with higher fees, e.g NSF fees. Likewise, insurance companies
      assess risk using postal code
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Change the System; not Climate</h3>
    <span>
      Scientists have been warning about climate change over 50 years but big
      oil sponsored studies only care about paper straws; all while billionaires
      fly in private jets.
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Imprison Corrupted Politicians</h3>

    <span>
      No politician have been imprisoned for accepting bribe although many
      Canadian politicians were exposed with accepting donations from
      corporations, only to play innocent till proven guilty.
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Create Parks; not Parking Lots</h3>

    <span>
      Instead of telling people to get off the cars, invest in reliable public
      transportation system to give workers the choice. Stop terrorizing
      protected lands to keep people in the cars longer.
      <a
        href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/peoples-platform.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
</ul>

<br />
<h1>Lead the Social, Economical and Political Change</h1>
<p>
  We all know, something have to change. We do not know where to start. Our
  grass-root movement is made up of people who genuinely care about our city.
  There is a place for you to <strong>contribute</strong> and become an
  <strong>active</strong> leader in your <strong>neighborhood</strong>. Thats
  the beauty of Municipal Socialist Alliance (MSA), all inclusive from the
  bottom up.
</p>
<p>
  <q>Show me your program, I' ll tell your priorities</q>
  <i>-Torontonians, 2023</i>
</p>
<p>
  Establishment sponsored elections and endorsed candidates come and go but MSA
  is always active in our local communities. MSA believe that change do not come
  from outside but within us and by our actions. In a social condition where
  people die on the streets without adequate care,
  <strong>non-partisan means pro-establishment.</strong>
  See our
  <a
    href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/socialist-program-2023.pdf"
    >program.</a
  >
</p>
<br />

<ul class="cards">
  <li>
    <center><span class="bg-accent icons">&#9823;</span></center>
    <br />
    <h5 class="center"><strong>Volunteer</strong></h5>
    <ol class="contribute">
      <li>Be our flyer/ door knocking captain</li>
      <li>Bring your ideas to MSA team</li>
      <li>Get in touch with us, as soon as possible</li>
    </ol>

    <a href="https://kiri-vadivelu.ca/volunteer">Learn More</a>
  </li>
  <li>
    <center><span class="bg-accent icons">&#10084;</span></center>
    <br />
    <h5 class="center"><strong>Share</strong></h5>
    <ol>
      <li>Talk to your neighbors about election</li>
      <li>Showcase your creativity on social media</li>
      <li>Help us overcome corporate media blackout</li>
    </ol>

    <a href="https://kiri-vadivelu.ca/share">Learn More</a>
  </li>

  <li>
    <center><span class="bg-accent icons">&#36;</span></center>
    <br />
    <h5 class="center"><strong>Donate</strong></h5>
    <ol>
      <li>Of course, only if you can afford</li>
      <li>Help us cover the cost and reach further</li>
      <li>Please contact us for payment method</li>
    </ol>

    <br />
    <a href="https://kiri-vadivelu.ca/donate">Learn More</a>
  </li>
</ul>
<br />
