---
layout: page
title: "Journals of Social, Economical and Political Science"
description: "Analysis of policy issues and challenges in modern society without oppression, assumptions and partiality"
eleventyNavigation:
  key: blog
  order: 5
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<h1>The Blog Journals</h1>
<p>
  No thoughts, emotions or comments initiated with residues of profit. All
  editorials are unaltered and intended to educate and inspire people to defend
  the interest of communities against corporate terrorism. Your contribution of
  any means including constructive criticisms, content submissions or monetary
  support are always be welcome. Please contact Editorial
  <a href="mailto:editor@kiri-vadivelu.ca">Team</a> for more details.
</p>
<p>
  By visiting the blog, you agree to respect Scarborough land
  <a href="https://kiri-vadivelu.ca/legal/acknowledge">acknowledgement</a> and
  access all of its content in the same spirit. Learn more about Scarborough
  <a
    href="https://kiri-vadivelu.ca/history/tabor-hill-scarborough-feast-of-the-dead/"
    >history</a
  >
  or visit Scarborough
  <a
    href="https://www.toronto.ca/explore-enjoy/history-art-culture/museums/scarborough-museum/"
    >Museum</a
  >
  for historical experience. Located at 1007 Brimley Rd, Toronto | ON M1P, 3E8 |
  North of Lawrence Ave on Brimley Road.
</p>

<figure>
  {% image "src/assets/images/aboriginal-leader-rcmp.jpeg", "Aboriginal Chief at
  13th Canadian Aboriginal Festival, 2006 | © Kiri Vadivelu", "image", [null] %}
  <figcaption>
    Aboriginal Chief at 13th Canadian Aboriginal Festival, 2006 | © Kiri
    Vadivelu
  </figcaption>
</figure>

<hr />
{% include "./_includes/components/categoryNav.njk" %}
<p>Preview of the most recent journal entries from the library</p>

{% include "./_includes/components/articleList.njk" %}
