---
layout: page
title: "Journals of Social, Economical and Political Science"
description: "Analysis of policy issues and challenges in modern society without oppression, assumptions and partiality"
eleventyNavigation:
  key: blog
  order: 5
pagination:
  data: collections.blog
  size: 10
  alias: articles
---

<h1>Journals</h1>
<p>
  I am grateful for your interest to learn more about my experiences socially,
  economically and politically, in the oppressed age of times. By visiting the
  blog, you agree to respect Scarborough land
  <a href="https://kiri-vadivelu.ca/acknowledge">acknowledgement</a> and access
  all of its content in the same spirit. Learn more about Scarborough
  <a
    href="https://kiri-vadivelu.ca/blog/tabor-hill-scarborough-feast-of-the-dead/"
    >history.</a
  >
</p>

<p>
  I dedicate all of my journal entries to my daughter Katherine and every child
  that never returned home from residential schools in Canada through 1830 to
  1996.
</p>

<figure>
  {% image "src/assets/images/feast-of-the-dead-2.jpeg", "Feast of the Dead
  Ceremony", "image", [400, 700] %}
  <figcaption>1: Feast of the Dead Ceremony in Scarborough</figcaption>
</figure>

<hr />
{% include "./_includes/components/categoryNav.njk" %}
<p>Preview of the most recent journal entries from the library</p>

{% include "./_includes/components/articleList.njk" %}
