---
title: Kiri Vadivelu | Community Resources
description: "Toronto Community Resources"
layout: page
---

<div class="flex-aside bg-accent">
  <article>
    <h2>Digital Data</h2>
    <p>
      Open Data is digital data that is made available with the technical and
      legal characteristics necessary for it to be freely used, reused, and
      redistributed by anyone, anytime and anywhere. Learn more at the city
      <a
        href="https://www.toronto.ca/city-government/data-research-maps/open-data/"
        >website.</a
      >
    </p>
  </article>
  <div class="video">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/GKGiroppeGI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</div>
<br />

<details>
  <summary>Vote, Toronto</summary>
  <article>
    <h3>Am I in the Voters List?</h3>
    <p>
      Get started with MyVote to check, add or update your information on the
      voters’ list, apply to vote by mail and check out a list of candidates
      running for mayor. Take me to
      <a href="https://myvote.toronto.ca/home">myVote!</a>
    </p>
  </article>
  <article>
    <h3>Important Election Dates</h3>
    <ul>
      <li>
        <i> Apply to Vote by Mail</i> <br />
        Before May 26 at 4:30 p.m.
      </li>
      <br />
      <li>
        <i> Advance Vote </i> <br />
        Between Thursday, June 8 to Tuesday, June 13, 2023 from 10 a.m. to 7
        p.m.
      </li>
      <br />
      <li>
        <i> Election Day</i> <br />
        On Monday, June 26, 2023 from 10 a.m. to 8 p.m.
      </li>
      <br />
      <li>
        <i>Skip the Line</i><br />

        Choose Mail-In Voting. Get the
        <a
          href="https://www.toronto.ca/city-government/elections/by-election/by-election-voter-information/by-election-mail-in-voting/"
          >Application</a
        >
      </li>
    </ul>
  </article>
  <article>
    <h3></h3>
  </article>
  <article>
    <h3>Have Question or Need Support?</h3>
    <p>
      <a href="tel:416-338-1111">416-338-1111</a> |
      <a href="mailto:elections@toronto.ca">elections@toronto.ca</a>
    </p>
  </article>
  <article>
    <h3>Accessibility Issues</h3>
    <p>
      <a href="tel:416-338-1111">416-338-1111</a> |
      <a href="mailto:accessibleelections@toronto.ca"
        >accessibleelections@toronto.ca</a
      >
    </p>
  </article>
  <article>
    <h3>Employer Being Difficult?</h3>
    <p>
      Voting hours on election day are from 10 a.m. to 8 p.m. You are entitled
      to three hours in which to vote on voting day. It means you’re allowed to
      be absent to give yourself three hours of voting time.
    </p>
    <p>
      Most employers will encourage you to vote, will not deduct pay and offer
      to remove any barriers that may be on your way. Call 311 for help and
      report any less than good employers to us directly via email
      <a href="mailto:report@kiri-vadivelu.ca">report@kiri-vadivelu.ca</a>.
    </p>
  </article>
</details>

<details>
  <summary>311 | Toronto At Your Service</summary>
  <p>
    311 provides residents, businesses and visitors with easy access to
    non-emergency City services, programs and information 24 hours a day, seven
    days a week. 311 can offer assistance in more than 180 languages.
    <a
      href="https://www.toronto.ca/home/311-toronto-at-your-service/311-mobile-apps/"
      >Download the App.</a
    >
  </p>
  <p>
    <a href="tel:311">Call 311@toronto</a> |
    <a href="mailto: 311@toronto.ca">Email 311@toronto.ca</a>
    <br />
    Outside of Toronto
    <a href="tel:416-392-2489">Call: 416-392-CITY (2489)</a>
    <br />
    Service Request Online
    <a href="https://toronto.ca/home/311-toronto-at-your-service/"
      >toronto.ca/311</a
    >
  </p>
</details>

<details>
  <summary>211 | Food, Housing or Financial Needs</summary>
  <p>
    211 is also available to provide information on programs and social services
    such as financial help, employment services, mental health, home care,
    housing, shelters, food and childcare. 211 is a free, 24/7 confidential
    service available in 150 languages. Visit
    <a href="https://www.211toronto.ca/">211Central.ca</a> ,
    <a href="tel: 211">call 211</a> or <a href="tel: 21166">text 21166</a>.
  </p>
</details>

<details>
  <summary>Unsafe or Unhappy at Work?</summary>
  <h3>Why join a union?</h3>
  <p>
    Every year, thousands of workers choose to join union to make workplaces
    safer, negotiate better working conditions and fairer compensation –
    including good wages, benefits and pensions. After all, you work hard at
    your job, do you not deserve any?
  </p>
  <p>
    Learn about organizing
    <a
      href="https://kiri-vadivelu.ca/news/meet-the-20-year-old-who-unionized-a-vancouver-starbucks/"
      >Starbucks</a
    >
    in Vancouver, Canada
  </p>

  <ul>
    <li>
      <h3>Unionized workplaces are happier</h3>
      <p>
        The most common reason people want a union is that there is something
        unfair about their workplace. A union means an end to inconsistent rules
        and favouritism. No wonder studies show that unionized employees are
        happier.
      </p>
    </li>
    <li>
      <h3>Union members have better pay</h3>
      <p>
        Union members make $5.14/ hour more than non-unionized workers. With a
        union, you know when to expect a raise and how much it will be. This
        helps with planning your life and that of your family.
      </p>
    </li>
    <li>
      <h3>Jobs with Benefits</h3>
      <p>
        By forming a union you can negotiate a contract with benefits that are
        guaranteed in writing. Benefits like a health and dental plan, vacation
        pay, paid sick leave, a pension plan, training and overtime.
      </p>
    </li>
    <li>
      <h3>Job Security</h3>
      <p>
        With a union contract, you can stop favouritism, and challenge unfair
        discipline and dismissal. Your employer can only fire you with a good
        reason. Having a union also allows employees to have a say when
        cost-cutting, contracting-out, restructuring and other decisions are
        considered.
      </p>
    </li>
    <li>
      <h3>Safer workplaces</h3>
      <p>
        With a union, you and your co-workers will have the support you need to
        fix health and safety dangers in your workplace. The United Steelworkers
        are experts in workplace safety.
      </p>
    </li>
  </ul>

  <p>
    Get in touch United Steelworkers
    <a href="https://usw.ca/join/">(USW)</a> to find out how you can make your
    workplace safer, fairer and better in the areas that are important to you
    and your co-workers.
  </p>
</details>

<details>
  <summary>Family Support & Services</summary>
  <p>
    City has partnered with the following agencies to connect residents to the
    various social service agencies, programs and supports that are still
    available to children, youth and families experiencing violence, abuse or
    neglect.
  </p>
  <h3>Intimate Partner & Domestic Violence</h3>
  <ul>
    <li>
      Assaulted Women’s Helpline
      <a href="tel: 416-863-0511">416-863-0511</a> |
      <a href="https://www.awhl.org/">website</a>
    </li>
    <li>
      Toronto Rape Crisis Centre
      <a href="tel: 416-597-8808">16-597-8808</a> |
      <a href="https://trccmwar.ca/">website</a>
    </li>
    <li>
      Women’s College Hospital
      <a href="tel: 416-323-6040">416-323-6040</a> |
      <a href="https://www.womenscollegehospital.ca/">website</a>
    </li>
    <li>
      Family Services Toronto <a href="tel: 416-595-9618">416-595-9618</a> |
      <a href="https://familyservicetoronto.org/">website</a>
    </li>
    <li>
      Victim Services Toronto <a href="tel: 416-808-7066">416-808-7066</a> |
      <a href="https://victimservicestoronto.com/">website</a>
    </li>
    <li>
      Ernestine’s Women’s Shelter
      <a href="tel: 416-746-3701">416-746-3701</a> |
      <a href="https://ernestines.ca/">website</a>
    </li>
    <br />
    <h3>Child Abuse</h3>
    <li>
      Kids Help Phone <a href="tel: 1-800-668-6868">1-800-668-6868</a> |
      <a href="https://kidshelpphone.ca/">website</a>
    </li>
    <li>
      BOOST CYAC <a href="tel: 415-515-1100">415-515-1100</a> |
      <a href="https://boostforkids.org/">website</a>
    </li>
    <li>
      Children’s Aid Society of Toronto
      <a href="tel: 416-924-4646">416-924-4646</a> |
      <a href="https://www.torontocas.ca/">website</a>
    </li>
    <li>
      Catholic Children’s Aid Society of Toronto
      <a href="tel: 416-395-1500">416-395-1500</a> |
      <a href="https://torontoccas.org/">website</a>
    </li>
    <li>
      Jewish Family & Child Service of Greater Toronto
      <a href="tel: 416-638-7800">416-638-7800</a> |
      <a href="https://www.jfandcs.com/">website</a>
    </li>
    <li>
      Native Child & Family Services of Toronto
      <a href="tel: 416-969-8510">416-969-8510</a> |
      <a href="https://nativechild.org/">website</a>
    </li>
  </ul>
</details>

<details>
  <summary>Property Tax Information</summary>
  <p>
    The City of Toronto does not mail notices about how to reduce or challenge
    your property tax assessment. You do not need to retain a tax consultant to
    appeal your property assessment. Tax consultants are private entities that
    do not have any connection to the City of Toronto. All relevant information
    on city
    <a
      href="https://www.toronto.ca/services-payments/property-taxes-utilities/property-tax/"
      >website.</a
    >
  </p>
</details>
<details>
  <summary>Garbage & Recycling App</summary>
  <p>
    Never miss your garbage or recycling day again! Find out what waste items go
    where, what bins to put out when, and where to donate used items or find a
    City Drop-off Depot right from your smartphone or tablet with the TOwaste
    app on city
    <a
      href="https://www.toronto.ca/services-payments/recycling-organics-garbage/towaste-app/"
      >website</a
    >.
  </p>
</details>

<details>
  <summary>Rodent Control Information</summary>
  <p>
    Rodents, which include rats and mice, are known to be common pests in
    Toronto. They can be a big problem for residents and businesses as they can
    cause damage to properties, contaminate food and spread disease. Rodents
    need food and shelter and large urban environments provide excellent
    habitats for them to survive and thrive. All relevant information on city
    <a
      href="https://www.toronto.ca/city-government/public-notices-bylaws/bylaw-enforcement/property-standards-keep/rodent-control/"
      >website.</a
    >
  </p>
</details>
<details>
  <summary>Senior Care Resources</summary>
  <p>
    All Torontonians benefit from the energy and lived experience that seniors
    bring to the city’s diverse communities and neighbourhoods.
  </p>
  <p>
    There are many services available to help seniors access food and
    essentials, get health and personal care in their homes, get mental health
    supports, and more. Call 211 (24 hours a day, 7 days a week) or the Toronto
    Seniors Helpline
    <a href="tel: 416-217-2077"></a> (416-217-2077) to be referred to the right
    supports for you. All relevant information on city
    <a
      href="https://www.toronto.ca/community-people/children-parenting/seniors-services/"
      >website.</a
    >
    or find senior care in the
    <a href="https://www.seniorcareconnect.ca/">city.</a>
  </p>
</details>

<details>
  <summary>Emergency Assistance?</summary>
  <p>
    If you do not have enough money for food and housing and are in financial
    need, you can apply for Ontario Works assistance
    <a href="https://www.ontario.ca/page/social-assistance">online</a>. You can
    also apply by calling <a href="tel: 416-338-8888">416-338-8888</a>.
  </p>
  <p>
    Ontario Works provides money for food, shelter and other costs to people in
    financial need who meet the eligibility criteria. Financial Assistance may
    include money for food, shelter, clothing and other household costs, the
    cost of prescription medications, and other help with health costs.
  </p>
  <p>
    If you are in an emergency or crisis situation, you might be eligible for
    Emergency Assistance, which will provide you with immediate, but temporary,
    financial support instead of ongoing financial support like Ontario Works.
    If you are eligible for Emergency Assistance, the amount you get will depend
    on your specific situation.
  </p>
</details>

<details>
  <summary>Lost or Found Pets?</summary>
  <p>
    First, search around your home and neigbourhood and ask your neighbours. If
    possible, put up posters and flyers in your neighborhood, veterinarian
    offices, animal shelters, grocery stores, libraries and bulletin boards in
    your community.
  </p>
  <p>
    Contact 416-338-PAWS (7297) or 311 to file a lost animal report and provide
    description of pet, licence number and microchip number.
  </p>

  <p>
    Likewise, if you find a lost dog or cat wearing a City of Toronto tag,
    contact 311 to connect the pet with the owner. If the animal does not have
    any identification tags, contact 311 for information on next steps.
  </p>

  <p>
    For additional information on animals and pets, see city
    <a href="https://www.toronto.ca/community-people/animals-pets/">website.</a>
  </p>
</details>

<details>
  <summary>Moving to Toronto?</summary>
  <p>
    Toronto is one of the most multicultural urban areas in the world. Each year
    tens of thousands of newcomers from around the globe choose our city as
    their new home. Their diverse cultures and communities have helped create
    Toronto’s identity as a vibrant global city. Find relevant information on
    city
    <a href="https://www.toronto.ca/community-people/moving-to-toronto/"
      >website.</a
    >
  </p>
</details>

<details>
  <summary>Fighting Evictions?</summary>
  <p>
    Know your rights, the guide
    <a href="/assets/docs/Tenant-Rights-Guide.pdf">PDF.</a>
  </p>
  <p>
    Understand the eviction process, the book
    <a href="/assets/docs/Eviction-Prevention-Handbook.pdf">PDF.</a>
  </p>
  <p>
    Facing an eviction is a life altering experience. Knowing your rights can
    help overcome the challenges ahead. Understand the process and tools
    available to you on your language at
    <a href="https://www.torontotenants.org/your_rights">FMTA</a>.
  </p>
</details>

<details>
  <summary>Getting Married?</summary>
  <p>
    The City Clerk’s Office is here to assist you with getting a marriage
    licence. An appointment is required when applying for a marriage licence. If
    you have the required identification and applicable documents it will take
    approximately 15 minutes to process your application and issue the licence.
    For complete details, see city
    <a
      href="https://www.toronto.ca/services-payments/venues-facilities-bookings/getting-married/"
      >website.</a
    >
  </p>
</details>

<details>
  <summary>Home Energy Loan Program</summary>
  <p>
    Making your home more energy efficient is one of the most substantial
    actions homeowners can take to reduce the emissions contributing to climate
    change. Through the Home Energy Loan Program (HELP), Toronto homeowners can
    borrow up to $125,000 to cover the cost of home energy improvements. All
    relevant information on city
    <a
      href="https://www.toronto.ca/services-payments/water-environment/environmental-grants-incentives/home-energy-loan-program-help/"
      >website.</a
    >
  </p>
</details>

<details>
  <summary>Landlord & Tenants Information</summary>
  <p>
    The Residential Tenancies Act (RTA) is an Ontario law that gives landlords
    and tenants specific rights and responsibilities. It provides rules for
    increasing the rent, evicting a tenant, maintenance, etc. Under the RTA, the
    Landlord Tenant Board (LTB) was created to solve disputes between tenants
    and their landlords. All relevant information at city
    <a
      href="https://www.toronto.ca/community-people/housing-shelter/rental-housing-tenant-information/rights-responsibilities-for-landlords-tenants/"
      >website.</a
    >
  </p>
</details>

<details>
  <summary>Landlord Threats or Harassment?</summary>
  <h3>Why organize tenants into associations?</h3>
  <p>
    Nearly half of the Toronto residents are renters; however, there are no
    representation for tenants in public office. Apart from that, there are many
    reasons why it is advantageous to have a tenants' association for your
    building or your community.
  </p>
  <p>These include but not limited to:</p>
  <ul class="tenant-union">
    <li>
      To improve yours and your neighbours' living conditions, whether your
      concerns are about maintenance, safety, or improper actions by the
      landlord or their employees;
    </li>
    <br />
    <li>
      You and your neighbours are having trouble dealing with the landlord,
      property manager or superintendent and are looking for a strategy to deal
      with it;
    </li>
    <br />
    <li>
      There is strength in numbers. It is more difficult for bad landlords to
      pick on a group than on individual tenants;
    </li>
    <br />
    <li>
      To get moral support from others and so you don't feel alone and isolated
      in your fight;
    </li>
    <br />
    <li>
      To share the work and resources. The more of you there are, the more work
      that can be accomplished, and the less work for each of you;
    </li>
    <br />
    <li>
      For the diversity of skills and opinions available. New people may bring
      in new good ideas not considered before;
    </li>
    <br />
    <li>
      For continuity. It is very useful to keep a history of the landlord as
      they are likely to repeat past strategies and habits. With tenants moving
      in and out, a long-term association can keep records on the landlord over
      many years.
    </li>
    <br />
    <li>
      To get involved in bigger issues in your community or beyond, whether it
      be fighting to save a community pool, creating a community garden or
      organizing to bring back real rent controls.
    </li>
  </ul>
  <br />
  <strong>
    It is your legal right to have a tenants association. That is the law! Under
    Ontario's Residential Tenancies Act, Section 23:
  </strong>
  <br />
  <q
    >A landlord shall not harass, obstruct, coerce, threaten or interfere with a
    tenant.</q
  >
  <br />
  <i>
    The fine for individuals guilty of such an offense (including the landlord,
    superintendent, and other employees and agents of the landlord or property
    management,) are liable for fines of up to $25,000, and for corporations up
    to $100,000, under sections 238 (1) and 238 (2) of the Residential Tenancies
    Act.
  </i>
  <br />
  <p>
    Join thousands of people committed to working together for a fair world.
    Become a leader in your community by forming a tenant association or union.
    Join the grass-root movement and help those impacted just like you while
    getting the help you need. ACORN Canada is an independent national tenant
    organization. Learn more at
    <a href="https://acorncanada.org/locations/toronto-acorn/"
      >Toronto Acorn.</a
    >
  </p>
</details>

<details>
  <summary>Build Tenant Union</summary>
  <p>
    The Federation of Metro Tenants’ Associations (FMTA) will support tenants
    that are interested in receiving information and support to develop a tenant
    association. Contact the FMTA at
    <a href="tel: 416-413-9442">416-413-9442</a> or by email at
    <a href="mailto:">fmta@torontotenants.org</a>.
  </p>
  <p>
    You can also send email inquiries to the Outreach and Organizing team
    through FMTA
    <a href="https://www.torontotenants.org/contact">website.</a>
  </p>
</details>
