---
title: Kiri Vadivelu | Small Donations Goes Long Way 
description: "Become a Class Conscious Citizen"
layout: page
---

<h1>Small Donations Go Long Way</h1>
<p>
  Of course, many of us want to contribute to local socialist movements to create a warm and friendly society around us; however, we all have busy lives. In such circumstances, we accept your generous donations of any amount. 
</p>

<ul class="cards">
  <li>
    <h3>Write a Cheque to MSA</h3>
    <p>
      Get in touch with us if you need any assistance, please write the full organization name "Municipal Socialist Alliance" on the cheque.
    </p>
  </li>
  <li>
    <h3>Send an E-transfer to MSA</h3>
    <p>
      For security purposes, we kindly ask you contact our campaign manager before sending any e-transfers. 
    </p>
  </li>

  <h3>We Do Accept Cash Donations</h3>
  <p>
    If you happen to come across MSA or Socialist Action (SA) public event, feel free to say hello to us and give any amount within your capacity.
  </p>
</li>
</ul>

