---
title: Kiri Vadivelu | For Mayor of Toronto
description: Socialist Solutions to Capitalist Crisis
layout: main
eleventyNavigation:
  key: welcome
  order: 1
---

<figure>
  <img
    src="/kiri-vadivelu.jpg"
    alt="Kiri Vadivelu for Mayor of Toronto"
    width="900"
    height="900"
  />
  <figcaption><i> Kiri Vadivelu | For Mayor of Toronto</i></figcaption>
</figure>

<br />

<div class="intro">
  <blockquote class="bg-accent">
    <strong>Vote Socialist </strong> on Monday, June 26
  </blockquote>

  <blockquote class="bg-accent">
    Poverty is not a Choice, <strong>Tax the Rich</strong>
  </blockquote>

  <blockquote class="bg-accent">
    <strong> Create more Parks;</strong> Not Parking Lots
  </blockquote>

  <blockquote class="bg-accent">
    De-fund the Police & <strong>Fund Our Services</strong>
  </blockquote>

  <blockquote class="bg-accent">
    My
    <a
      href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/socialist-program-2023.pdf"
      ><i>Priorities</i>
    </a>
    | City
    <a
      href="https://github.com/kiri-vadivelu/project-108/blob/main/src/assets/docs/toronto-budget-2023.pdf"
      ><i>Budget</i></a
    >
    | Polling
    <a href="https://www.toronto.ca/city-government/elections/"
      ><i>Stations</i></a
    >
  </blockquote>
  <br /><br />
  <h2 class="text-grade">{{ description }}</h2>
  <table>
    <tr>
      <th>Type of Mayors</th>
      <th>Socialist</th>
      <th>Statusquo</th>
      <th>Wannabe</th>
    </tr>
    <tr>
      <td>Stop houseless death on streets</td>
      <td>
        <span class="cta">&#10003; Yes</span>
      </td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Make housing as human right</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Expropriate giant landlords</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Provide free public transit for all</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>De-fund police to fund community</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Invest in mental health services</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Make climate justice a public policy</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>Stop the divide of economic inequality</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Create more competition, less monopoly</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
    <tr>
      <td>Solve the root cause of poverty & crimes</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>End corporate monopoly and welfare state</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>Bring wealth inequality property tax</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>Make the rich pay their fair share</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>Fund local community garden initiatives</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>

    <tr>
      <td>Stand in solidarity with striking workers</td>
      <td><span class="cta">&#10003; Yes</span></td>
      <td>&#10008;</td>
      <td>&#10008;</td>
    </tr>
  </table>

  <br /><br />

  <h1>Kiri Vadivelu | <i>For Mayor of Toronto</i></h1>
  <p>
    My name is Kiri Vadivelu and I am running to be the next mayor of Toronto. I
    am a social justice activist and a member of the Municipal Socialist
    Alliance which ran 10 candidates across southern Ontario last October,
    receiving about 15,000 votes. I was the MSA candidate in Scarborough Centre
    Ward 21 gaining 1,800 votes. I am the first Tamil-Canadian to seek the
    mayor’s office in Toronto.
    <a href="https://kiri-vadivelu.ca/about"><i> Why?</i></a>
  </p>

  <p>
    I immigrated from Sri Lanka as a child, and successfully resisted illegal
    eviction of my family at the Ontario Landlord and Tenant Board during the
    2020 emergency lock down. I believe good housing is a human right. I am a
    founding member of the Scarborough Tenants’ Union, a leading voice of
    Toronto ACORN, and a committed member of Justice for Workers. I was a shop
    steward in the United Steelworkers Union where I fought for better working
    conditions, and was the recipient of a 2019 union leadership award.
  </p>

  <p>
    Toronto is in crisis, the product of a failed capitalist system. Only
    socialist measures offer solutions. The MSA and I call for immediate mass
    social housing construction,
    <strong>expropriation of giant landlords</strong>, and
    <strong>free public transit</strong> . We seek to
    <strong>repair our schools</strong>, and
    <strong>cut police budget</strong> by at least 50%. We demand a climate
    justice agenda, replacement of the "strong mayor" powers with a
    <strong>grassroots participatory budget </strong>process, and steep taxation
    of the properties of big business and the rich.
  </p>

  <p>
    Premier Doug Ford says don’t vote for anyone who wants to cut the police
    budget. We say: Don’t vote for anyone who voted for the police budget. Let’s
    build community power, working class power, from the bottom up.
    <strong>Organize and fight.</strong> Vote socialist. Elect
    <strong>Kiri Vadivelu for Mayor of Toronto</strong> on June 26!
  </p>
</div>
