---
title: Kiri Vadivelu | Jamstack Developer Advocate
description: Innovating the cloud space with futuristic technology
layout: plain
permalink: /
---

<article class="article">
  <img class="hero-image" src="/kiri-vadivelu-small.jpg" alt="Kiri Vadivelu" />
  <br />
  <h3 class="text-center">Socialist Reflection of Toronto Election</h3>
  <p>
    Thank you for your conscious decision to endorse a socialist for mayor of
    Toronto. I am truly proud of my campaign team and everyone who braved the
    moody wet weather to cast the ballot.
  </p>
  <p>
    You have invested your vote to bring the change you want to see in our
    community. You chose to lit the candle than to curse the darkness. Hence, I
    am hopeful that socialism will prevail. People united can never be defeated.
  </p>
  <p>
    Corporate media has won itself a status quo candidate Olivia Chow to
    maintain the crumbling capitalist system by invoking fear in the minds of
    workers as oppose to a free choice. Now, revolutionary Toronto needs us more
    than ever.
  </p>
  <p>
    Nothing to brag after finishing 29th out of 102 candidates but I find
    shelter in hope for democracy. I enjoyed marching in our streets for
    justice, I enjoyed decorating our landscape with socialist posters and I
    enjoyed folding our flag at the end of the day.
  </p>
  <p>
    I know, our victory is work in progress. Thanks to Scarborough Tenants
    Union, Workers Action Movement, People’s Strike, Greater Toronto for BDS,
    Socialist Action, Municipal Socialist Alliance and to all those endorsed,
    volunteered and stood in solidarity.
  </p>
  <p>
    Let us continue to inspire everyone for positive transformation of our
    society from hostile capitalism to worker friendly socialism. Gladly, public
    office is not a requirement to mobilize our community for economic
    democracy.
  </p>
  <p>
    Comradely,<br />
    Kiri Vadivelu |
    <a href="/campaign/"><span class="cta">See Campaign &#10140;</span></a>
  </p>
  <audio controls autoplay loop>
    <source src="/friends-forever.mp3" autostart="true" type="audio/mpeg" />
    Your browser does not support the audio element
  </audio>
</article>
