---
title: Kiri Vadivelu | For Mayor
description: Socialist Solutions to Capitalist Crisis
layout: main
eleventyNavigation:
  key: elect
  order: 1
---

<figure>
  <img
    src="/kiri-vadivelu.jpg"
    alt="Kiri Vadivelu for Mayor"
    width="900"
    height="900"
  />
  <figcaption><i> Kiri Vadivelu | For Mayor</i></figcaption>
</figure>

<br />

<div class="intro">
  <blockquote class="bg-neutral">
    <strong>Vote Socialist </strong> on Monday, June 26
  </blockquote>

  <blockquote class="bg-neutral">
    Poverty is not a Choice, <strong>Tax the Rich</strong>
  </blockquote>

  <blockquote class="bg-neutral">
    <strong> Create more Parks,</strong> Not Parking Lots
  </blockquote>

  <blockquote class="bg-neutral">
    De-fund the Police & <strong>Fund Community Services</strong>
  </blockquote>

  <blockquote class="bg-neutral">
    <a href="/assets/docs/socialist-program-2023.pdf"
      ><i>Priorities &#10140;</i>
    </a>
    |
    <a href="/assets/docs/toronto-budget-2023.pdf"><i>Budget &#10140;</i></a> |
    <a href="/community/"><span class="cta">&#9787;</span> Help?</a>
  </blockquote>
</div>
<br />
<hr />
<center>
  <h2 class="text-grade">{{ description }}</h2>
</center>

<table>
  <tr>
    <th>Candidates for Mayor</th>
    <th>Socialist</th>
    <th>Incumbent</th>
    <th>Wannabees</th>
  </tr>
  <tr>
    <td>Stop houseless death on streets</td>
    <td>
      <span class="cta">&#10003; Yes</span>
    </td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
  <tr>
    <td>Make housing a human right</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Support local community gardens</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Heavily tax properties of big business</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Replace monopoly with economic democracy</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
  <tr>
    <td>De-fund police to fund community services</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
  <tr>
    <td>Uproot the causes of poverty & crime</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Make climate justice a public priority</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Create participatory budget process</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Invest in mental health care</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>

  <tr>
    <td>Expropriate giant landlords</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
  <tr>
    <td>Free public transit</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
  <tr>
    <td>Solidarity with workers on strike</td>
    <td><span class="cta">&#10003; Yes</span></td>
    <td>&#10008;</td>
    <td>&#10008;</td>
  </tr>
</table>

<br />
<article class="article">
  <h1>Kiri Vadivelu | <i>For Mayor</i></h1>
  <p>
    My name is Kiri Vadivelu and I am running to be the next mayor of Toronto. I
    am a social justice activist and a member of the Municipal Socialist
    Alliance which ran 10 candidates across southern Ontario last October,
    receiving about 15,000 votes. I was the MSA candidate in Scarborough Centre
    Ward 21 gaining 1,800 votes. I am the first Tamil-Canadian to seek the
    mayor’s office in Toronto.
    <a href="/about"><i> Why?&#10140;</i></a>
  </p>

  <p>
    I immigrated from Sri Lanka as a child, and successfully resisted illegal
    eviction of my family at the Ontario Landlord and Tenant Board during the
    2020 emergency lock down. I believe good housing is a human right. I am a
    founding member of the Scarborough Tenants’ Union, a leading voice of
    Toronto ACORN, and a committed member of Justice for Workers. I was a shop
    steward in the United Steelworkers Union where I fought for better working
    conditions, and was the recipient of a 2019 union leadership award.
  </p>

  <p>
    Toronto is in crisis, the product of a failed capitalist system. Only
    socialist measures offer solutions. The MSA and I call for immediate mass
    social housing construction,
    <strong>expropriation of giant landlords</strong>, and
    <strong>free public transit</strong> . We seek to
    <strong>repair our schools</strong>, and
    <strong>cut police budget</strong> by at least 50%. We demand a climate
    justice agenda, replacement of the "strong mayor" powers with a
    <strong>grassroots participatory budget </strong>process, and steep taxation
    of the properties of big business and the rich.
  </p>

  <p>
    Premier Doug Ford says don’t vote for anyone who wants to cut the police
    budget. We say: Don’t vote for anyone who voted for the police budget. Let’s
    build <strong>community power</strong>, working class power, from the bottom
    up. Let’s build community power, <strong>working class</strong> power, from
    the bottom up. Vote socialist to elect class
    <strong>conscious leadership</strong>. There are many ways you can
    contribute to our grass-roots campaign.
  </p>

  <p>
    Firstly, you can help us overcome the media blackout of the
    <strong>socialist campaign</strong> by sharing this message with your
    network online and offline. In that way, those in your circles will know
    about our good work instead of relying on the
    <strong>political options</strong> featured by the corporate media.
    Secondly, you can distribute our campaign flyers, leaflets and posters to
    <strong>community members</strong> in your proximity. In addition, you can
    donate financially to our campaign.
  </p>

  <p>
    Regardless what support you decide to provide, I urge you to challenge the
    <strong> status quo</strong> that works primarily for the privileged few.
    Let's organize, fight, and win <strong>economic democracy</strong> for the
    vast majority, and put an end to oppression and exploitation forever.
  </p>

  <p>
    In Solidarity,<br /><br />

    Kiri Vadivelu, <br />
    Candidate for Mayor<br />
    Municipal Socialist Alliance <br />
    <a href="https://kiri-vadivelu.ca">https://kiri-vadivelu.ca</a><br />
    Direct: <a href="mailto: kiri@duck.com">kiri@duck.com</a>
  </p>

  <p>
    Barry Weisleder,<br />
    Campaign Manager <br />
    Municipal Socialist Alliance <br />
    <a href="https://socialistalliance.ca">https://socialistalliance.ca</a
    ><br />
    Direct: 647-986-1917
  </p>
</article>
