---
layout: page
title: "Journals of Social, Economical and Political Science"
description: "Analysis of policy issues and challenges in modern society without oppression, assumptions and partiality"
eleventyNavigation:
  key: journals
  order: 5
pagination:
  data: collections.blog
  size: 3
  alias: articles
---

<h2 class="center">Online Journals</h2>
<p>
  By visiting the blog, you agree to respect Scarborough land
  <a href="https://kiri-vadivelu.ca/legal/acknowledge">acknowledgement</a> and
  access all of its content in the same spirit. Learn more about Scarborough
  <a
    href="https://kiri-vadivelu.ca/history/tabor-hill-scarborough-feast-of-the-dead/"
    >history</a
  >
  or visit Scarborough
  <a
    href="https://www.toronto.ca/explore-enjoy/history-art-culture/museums/scarborough-museum/"
    >Museum</a
  >
  for historical experience.
</p>

<figure>
  {% image "src/assets/images/aboriginal-leader-rcmp.jpeg", "Aboriginal Chief at
  13th Canadian Aboriginal Festival, 2006 | © Kiri Vadivelu", "image", [null] %}
  <figcaption>
    Aboriginal Chief at 13th Canadian Aboriginal Festival, 2006 | © Kiri
    Vadivelu
  </figcaption>
</figure>
<br />
{% include "./_includes/components/categoryNav.njk" %}
<hr />
<h3 class="center">Recent Journal Entries</h3>
<br />
{% include "./_includes/components/articleList.njk" %}
