---
layout: page
title: "Kiri Vadivelu | News Releases"
description: "Latest News of Municipal Socialist Alliance & more"
eleventyNavigation:
  key: news
  order: 4
pagination:
  data: collections.news
  size: 5
  alias: articles
---

<h1>News Releases</h1>
<i class="center">{{ description }}</i>
<br />
<center>
  <a href="/news-archives">All News Releases</a> |
  <a href="/search">Quick Search</a>
</center>

<br />
{% include "./_includes/components/newsList.njk" %}
