---
layout: page
title: "Kiri Vadivelu | News Archives"
permalink: /news-archives/
description: "Latest news of Municipal Socialist Alliance mayor campaign"
pagination:
  data: collections.news
  size: 99
  alias: articles
---

<article class="article">
  <h3 class="center">News Archives</h3>
  <br />
  {% include "./_includes/components/newsListFull.njk" %}
</article>
