---
layout: page
title: "Kiri Vadivelu | News Releases"
description: "Latest news of Municipal Socialist Alliance mayor campaign"
eleventyNavigation:
  key: news
  order: 4
pagination:
  data: collections.news
  size: 15
  alias: articles
---

<h3 class="center">Latest News Releases</h3>
<br />
{% include "./_includes/components/newsList.njk" %}
