---
layout: page
title: "Kiri Vadivelu | News Archives"
permalink: /news-archives/
description: "Latest news of Toronto Municipal Socialist Alliance mayor campaign"
pagination:
  data: collections.news
  size: 99
  alias: articles
---

<article class="article">
  <h1>News Archives</h1>
  <i class="text-center text-small">{{ description }}</i>
  <div class="grid-center">
    <p>
      <a href="/news">Featured News</a> |
      <a href="/search">Quick Search</a>
    </p>
  </div>
  <br />
  <ul>
    {%- for post in collections.news | reverse -%}
    <li>
      <a href="{{ post.url }}"
        ><p class="heading">
          <i class="text-thin">{{ post.data.date | readableDate }}</i>
          <span class="accent-clr">&#10162;</span>
          <strong>{{ post.data.title }}</strong>
        </p></a
      >
      <p>{{ post.data.excerpt }}</p>
    </li>
    {%- endfor -%}
  </ul>
  {# {% include "./_includes/components/newsList.njk" %} #}
</article>
