---
layout: page
title: "Kiri Vadivelu | News Releases"
description: "Latest News of Municipal Socialist Alliance & more"
eleventyNavigation:
  key: news
  order: 4
pagination:
  data: collections.news
  size: 5
  alias: articles
---

<article class="article">
  <h1>News Releases</h1>
  <i class="text-center text-small">{{ description }}</i>
  <div class="grid-center">
    <p>
      <a href="/news-archives">See All News</a> |
      <a href="/search">Quick Search</a>
    </p>
  </div>
  <br />
  {% include "./_includes/components/newsList.njk" %}
</article>
