---
title: Kiri Vadivelu | MSA Political Program
description: Socialist Solutions to Capitalist Crisis
layout: page
eleventyNavigation:
  key: policy
  order: 2
---

<center><h2 class="text-grade">Socialist Program & Priorities</h2></center>
<ul class="cards">
  <li>
    <h3>De-fund the Police</h3>
    <span
      >In the midst of the COVID lock down, Toronto police evicted houseless
      people from public parks. It was state- funded violence that injured
      members of the public who defended the vulnerable from the blows of police
      brutality.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a></span
    >
  </li>
  <li>
    <h3>Fund Our Schools</h3>
    <span>
      Children who eat breakfast tend to do better in school. But many working
      families cannot afford the meal due to low take home pay. The city should
      fill the breakfast gap.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
  <li>
    <h3>Make Transit Free</h3>
    <span>
      Students should never have to choose between bus fare and lunch in a
      wealthy city. Criminalizing poverty through expensive fare enforcement is
      unjust, not just a bad look for tourism.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
  <li>
    <h3>Expropriate Giant Landlords</h3>
    <span>
      Housing should not be a commodity. Developers do not build housing to meet
      a social need, but to generate private wealth for shareholders –
      benefiting from tax dollar funded infrastructure benefits. Housing is a
      human right.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a></span
    >
  </li>
  <li>
    <h3>Wealth Inequality Tax</h3>
    <span
      >Since 1970, profits of big corporations have been sky rocketing while
      working people earn less due to inflation and pay more in taxes. Tax the
      corporate welfare bums.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>End Service Discrimination</h3>

    <span>
      Banking is an essential service, yet banks discriminate against poor
      people by default with higher fees, e.g NSF fees. Likewise, insurance
      companies assess risk by postal code discrimination.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Change the System; not Climate</h3>
    <span>
      Scientists have been warning about climate change for over 50 years. Big
      oil-sponsored studies fret about paper straws while billionaires fly about
      in private jets.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Imprison Corrupted Politicians</h3>

    <span>
      No domestic politicians have been jailed for accepting a bribe although it
      is common for them accept donations from corporations, only to play
      innocent.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>

  <li>
    <h3>Create Parks; not Parking Lots</h3>

    <span>
      Instead of lecturing drivers to get out of their cars, invest in reliable,
      efficient public transportation to give workers a meaningful choice. Stop
      plundering the protected green belt.
      <a href="/assets/docs/socialist-program-2023.pdf"
        ><strong class="cta">&#10140;</strong>
      </a>
    </span>
  </li>
</ul>
<br />
<hr />
<h3>Lead the Social, Economical and Political Change</h3>
<p>
  Everyone knows that change is urgent. Many just don’t know where to start. Our
  grass-roots movement is made up of people who genuinely care about our city.
  There is a place for you here to contribute and become an active leader in
  your neighborhood. That is the beauty of the Municipal Socialist Alliance
  (MSA), inclusive from the bottom up.
</p>
<p>
  <q>Show me your program -- I can tell your priorities</q>
  <i>-Torontonians</i>
</p>
<p>
  Establishment-sponsored elections and big business-backed candidates come and
  go. The the MSA is always active in our local communities. The MSA believes
  that progressive change does not come from outside or above, but within us and
  from our actions. In a society where people die on the streets without
  adequate care, “non-partisan” usually means pro-establishment. See our program
  to know the difference. MSA
  <a href="/assets/docs/socialist-program-2023.pdf">program.</a>
</p>
<hr />
<br />
<ul class="cards">
  <li>
    <center><span class="bg-accent icons">&#9823;</span></center>
    <br />
    <h5 class="center"><strong>Volunteer</strong></h5>
    <ol class="contribute">
      <li>Be a flyer distributing / door knocking captain</li>
      <li>Bring your ideas to an MSA Convention or team meeting</li>
      <li>Get in touch with us, as soon as possible</li>
    </ol>

    <a href="/volunteer">Learn More</a>
  </li>
  <li>
    <center><span class="bg-accent icons">&#10084;</span></center>
    <br />
    <h5 class="center"><strong>Share</strong></h5>
    <ol>
      <li>Talk to your neighbours about the election</li>
      <li>Showcase your creativity on social media</li>
      <li>Help us break through the corporate media blackout</li>
    </ol>

    <a href="/share">Learn More</a>
  </li>

  <li>
    <center><span class="bg-accent icons">&#36;</span></center>
    <br />
    <h5 class="center"><strong>Donate</strong></h5>
    <ol>
      <li>Of course, only if you can afford to do so</li>
      <li>Help us cover the cost campaigning, and reach out farther</li>
      <li>Please contact us for payment method</li>
    </ol>

    <br />
    <a href="/donate">Learn More</a>
  </li>
</ul>
<br />
<div class="flex-aside">
  <i>
    Whether you choose to decorate Toronto streets or your school bathroom,
    thats your freedom of choice. Please be kind to one another, thats part of
    being a socialist. If your not sure about anything, just give us a ring.
  </i>
  <div>
    <h1>Embrace Socialism Everywhere</h1>
  </div>
</div>
<br />
<ul class="cards">
  <li>
    <h3>Posters</h3>
    <a href="/assets/docs/socialist-mayor-poster.pdf">Socialist Poster</a>
  </li>
  <li>
    <h3>Leaflets</h3>
    <a href="/assets/docs/socialist_mayor_leaflet_gardiner.pdf"
      >Strip the Gardiner</a
    >
    <br />
    <a href="/assets/docs/socialist_mayor_leaflet_police.pdf"
      >Failure of the Police</a
    >
  </li>
  <li>
    <h3>Flyers</h3>
    <a href="/assets/docs/kiri-vadivelu-for-mayor-4x5.pdf">Socialist Flyer</a>
    <br />
    <a href="/assets/docs/kiri-vadivelu-for-mayor-4x5-color.pdf"
      >Socialist Flyer - Color</a
    >
  </li>
</ul>
