---
title: Kiri Vadivelu | Share Your Experience with MSA
description: "Build class conscious community leadership skills"
layout: page
---

<h1>Share Your Experience with MSA</h1>
<p>
  We understand that not everyone can volunteer in person for variety of
  reasons. However, in age of digital era, anyone can contribute to a cause from
  home. We need graphic designers and artists who can communicate about the
  greatness of socialism with everyone. Bring your design skills, language
  skills and communication skills to make our city a better place for all.
</p>
<br />
<ul class="cards">
  <li>
    <h3>Design Socialist Posters, Flyers and Pamphlets</h3>
    <p>
      Showcase your graphic design talents to create visually interesting
      printable posters about socialism, labour and community engagement.
    </p>
  </li>
  <li>
    <h3>Create Social Media Posts and Share Online</h3>
    <p>
      Get in touch with us to get sample idea that would make a good social
      media post. If you like something you read on our blog, go for it.
    </p>
  </li>
</ul>
<br />
<ul class="cards">
  <li>
    <h3>Manage Our Social Media Accounts and Blog Posts</h3>
    <p>
      At this time, only MSA members can manage our social media channels.
      Become a member with any one of organizations and start contributing to
      the good cause.
    </p>
  </li>
</ul>
