---
title: Kiri Vadivelu | MSA Campaign Team
description: "Mayoral Campaign, Social Events and Community Engagements"
layout: page
eleventyNavigation:
  key: team
  order: 3
---

<div class="flex-aside bg-accent">
  <article>
    <h2>Mayor Candidacy Announcement</h2>
    <p>
      Members of Municipal Socialist Alliance (MSA) democratically endorsed Kiri
      Vadivelu for Mayor of Toronto and registered the campaign on the first day
      at City Hall on Monday, April 3, 2023.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/nHlLy17K1Aw?start=10&end=20&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>
<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>Socialist Action Endorsement</h2>
    <p>
      Members of Socialist Action (SA) are not only supporting the entire
      Municipal Socialist Alliance campaign but sharing socialist ideas across
      the country. SA strongly believes that solidarity knows no borders.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/yAIy9aFyXpE?start=0&end=72&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>

<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>MSA aims to unite the left</h2>
    <p>
      Members of the Municipal Socialist Alliance (MSA) backed ten local
      campaigns across southern Ontario in October 2022, and gained nearly
      15,000 votes. We stand in solidarity with the mayoral campaign of
      socialist candidate Kiri Vadivelu.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/fDbFxZIK3Bw?start=45&end=81&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      width=""
      height=""
      frameborder="0"
    ></iframe>
  </div>
</div>
<br />
<br />
<article class="article">
  <h3 class="text-center">Lead the Social, Economical and Political Change</h3>

  <p>
    <q>Show me your program -- I can tell your priorities</q>
    <cite>-Torontonians</cite>
  </p>
  <p>
    Everyone knows that change is urgent. Many just don’t know where to start.
    Our grass-roots movement is made up of people who genuinely care about our
    city. There is a place for you here to contribute and become an active
    leader in your neighborhood. That is the beauty of the Municipal Socialist
    Alliance (MSA), inclusive from the bottom up.
  </p>
  <p>
    Establishment-sponsored elections and big business-backed candidates come
    and go. The the MSA is always active in our local communities. The MSA
    believes that progressive change does not come from outside or above, but
    within us and from our actions. In a society where people die on the streets
    without adequate care, “non-partisan” usually means pro-establishment. See
    our program to know the difference. MSA
    <a href="/assets/docs/socialist-program-2023.pdf">program.</a>
  </p>
</article>
<br />
<article class="article">
  <h1 class="text-center">Community Endorsements</h1>
  <p>
    <q>
      <span class="cta">&#9873;</span> As a special guest at a recent Municipal
      Socialist Alliance meeting, I was very impressed with their vision, energy
      and commitment, especially amongst younger people who are needed so
      desperately to keep a community-based advocacy group thriving. I applaud
      the group’s efforts and will continue to support them in any way that I
      can!
    </q>
    <cite> — James Gordon, City Councillor, Guelph</cite>
  </p>
  <br />
  <p>
    <q>
      <span class="cta">&#9873;</span> While much of the labour leadership will
      throw their support behind status quo candidates in the upcoming
      elections, it is clear that business-as-usual municipal politics isn't
      working for working class people. Enough is enough! Vote for change! Vote
      Socialist! Vote for the Municipal Socialist Alliance!
    </q>
    <cite> — Julius Arscott, Ontario Public Service Employees' Union </cite>
  </p>

  <br />
  <p>
    <q>
      <span class="cta">&#9873;</span> I'm very happy to endorse, in a personal
      capacity, Kiri Vadivelu's campaign for Mayor of Toronto. His socialist
      platform offers a challenge to the model of the neoliberal city, with its
      agenda of austerity, inequality, reckless upscale redevelopment and a
      swollen police budget. With 'progressive' opposition to this agenda
      reduced to hesitant efforts to soften the blow, it is good to see a
      platform that actually bases itself on the needs of working class people.
    </q>
    <cite>
      — John Clarke, former organizer, Ontario Coalition Against Poverty and
      member of 230 Fightback</cite
    >
  </p>
  <br />
  <p>
    <q>
      <span class="cta">&#9873;</span> MSA is a coalition of socialists, labour
      unionists, community organizations and social justice activists united to
      fight for the interests of workers, tenants, women, LGBTQIA2S+ folks,
      racialized people, seniors and all who seek a city and world without
      exploitation and oppression. I am proud to show my support for a Labour
      City Hall, for a Workers’ Government at the municipal level.
    </q>
    <cite> — Barry Weisleder, NDP Socialist Caucus</cite>
  </p>
</article>
<br />

<article class="article text-center">
  <h3>United in Solidarity</h3>
  <ul>
    <li>
      <span>
        Municipal Socialist Alliance
        <a href="https://municipal.socialistalliance.ca">&#10152; MSA</a></span
      >
    </li>
    <li>
      <span>
        Workers Action Movement
        <a href="https://instagram.com/workersactionmovement"
          >&#10152; WAM</a
        ></span
      >
    </li>
    <li>
      <span
        >Scarborough Tenants Union
        <a href="https://scarboroughtenants.ca">&#10152; STU</a></span
      >
    </li>

    <li>
      <span
        >Greater Toronto for BDS
        <a href="https://bdsmovement.net">&#10152; BDS</a></span
      >
    </li>

    <li>
      <span
        >People's Strike<a href="https://peoplesstrike.ca/">
          &#10152; PSC</a
        ></span
      >
    </li>

    <li>
      <span> More to Come</span>
    </li>
  </ul>

  <br />

  <h3>MSA Team</h3>
  <ul>
    <li>
      <span>
        <i>Campaign Manager:</i> <span class="h-face">&#9787;</span> Barry
        Weisleder |
        <a href="tel:647-986-1917"><span class="sr-only">CALL</span> </a> |
        <a href="mailto:barryaw@rogers.com"
          ><span class="sr-only">EMAIL</span></a
        >
      </span>
    </li>
    <li>
      <span>
        <i>Policy Adviser: </i> <span class="h-face">&#9787;</span> Alanna
        Johnston |
        <a href="mailto:policy@kiri-vadivelu.ca"
          ><span class="sr-only">EMAIL</span>
        </a>
      </span>
    </li>
    <li>
      <span>
        <i>Campaign Support: </i>
        <span class="h-face">&#9787;</span> Rubina Chowdhury |
        <a href="mailto:team@kiri-vadivelu.ca"
          ><span class="sr-only">EMAIL</span></a
        >
      </span>
    </li>
    <li>
      <span>
        <i>Campaign Support:</i> <span class="h-face">&#9787;</span> Peter
        D'Gama |
        <a href="mailto:team@kiri-vadivelu.ca"
          ><span class="sr-only">EMAIL</span></a
        >
      </span>
    </li>
    <li>
      <span>
        <i>Social Media:</i> <span class="h-face">&#9787;</span> Thushy Seelan |
        <a href="mailto:team@kiri-vadivelu.ca"
          ><span class="sr-only">EMAIL</span></a
        >
      </span>
    </li>
    <li>
      <span>
        <i>Mayor Candidate:</i> <span class="h-face">&#9787;</span> Kiri
        Vadivelu |
        <a href="mailto:socialistmayor@kiri-vadivelu.ca"
          ><span class="sr-only">EMAIL</span></a
        >
      </span>
    </li>
    <li>
      <span>
        <i>Website:</i> <span>&#10162;</span>
        <a href="https://municipal.socialistalliance.ca"
          ><strong> Municipal Socialist Alliance</strong></a
        >
      </span>
    </li>
  </ul>
</article>
