---
title: Kiri Vadivelu | Municipal Socialist Alliance
description: "Campaign Team, Events and Community Engagements"
layout: page
eleventyNavigation:
  key: team
  order: 3
---

<div class="flex-aside bg-accent">
  <article>
    <h2>Mayor Candidacy Announcement</h2>
    <p>
      Members of Municipal Socialist Alliance (MSA) democratically endorsed Kiri
      Vadivelu for Mayor of Toronto and registered the campaign on the first day
      at City Hall on Monday, April 3, 2023.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/nHlLy17K1Aw?start=10&end=20&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>
<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>Socialist Action Endorsement</h2>
    <p>
      Members of Socialist Action (SA) not only funding the entire Municipal
      Socialist Alliance campaign but embracing socialism on every part of the
      country. SA believe that solidarity have no borders.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/yAIy9aFyXpE?start=0&end=72&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>

<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>Municipal Socialist Alliance Team</h2>
    <p>
      Members of Municipal Socialist Alliance (MSA) stand in solidarity with the
      mayoral campaign and in support of socialist mayor candidate Kiri
      Vadivelu.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/fDbFxZIK3Bw?start=45&end=81&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      width=""
      height=""
      frameborder="0"
    ></iframe>
  </div>
</div>

<section>
  <h5><span>&#x2714;</span>Growing List of Endorsements</h5>
  <span>
    Municipal Socialist Alliance
    <a href="https://municipal.socialistalliance.ca">(MSA)</a></span
  >

  <span>
    Workers Action Movement
    <a href="https://instagram.com/workersactionmovement">(WAM)</a></span
  >
  <span
    >Scarborough Tenants Union
    <a href="https://scarboroughtenants.ca"> (STU)</a></span
  >

  <span> More to Come</span>
</section>
<br />
<section>
  <h1>MSA Team</h1>
  <p>
    <i>Campaign Manager:</i> <span class="h-face">&#9787;</span> Barry Weisleder
    | <a href="tel:647-986-1917"><span class="sr-only">CALL</span> </a> |
    <a href="mailto:barryaw@rogers.com"><span class="sr-only">EMAIL</span></a>
  </p>
  <p>
    <i>Policy Adviser: </i> <span class="h-face">&#9787;</span> Alanna Johnston
    |
    <a href="mailto:policy@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span>
    </a>
  </p>
  <p>
    <i>Campaign Support: </i>
    <span class="h-face">&#9787;</span> Rubina Chowdhury |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>
  <p>
    <i>Campaign Support:</i> <span class="h-face">&#9787;</span> Peter D'Gama |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>Social Media:</i> <span class="h-face">&#9787;</span> Thushy Seelan |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>Mayor Candidate:</i> <span class="h-face">&#9787;</span> Kiri Vadivelu |
    <a href="mailto:socialistmayor@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>MSA Website:</i> <span>&#10162;</span>
    <a href="https://municipal.socialistalliance.ca"
      ><strong> Municipal Socialist Alliance</strong></a
    >
  </p>
</section>
