---
title: Kiri Vadivelu | Municipal Socialist Alliance
description: "Campaign Team, Events and Community Engagements"
layout: page
eleventyNavigation:
  key: team
  order: 3
---

<div class="flex-aside bg-accent">
  <article>
    <h2>Mayor Candidacy Announcement</h2>
    <p>
      Members of Municipal Socialist Alliance (MSA) democratically endorsed Kiri
      Vadivelu for Mayor of Toronto and registered the campaign on the first day
      at City Hall on Monday, April 3, 2023.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/nHlLy17K1Aw?start=10&end=20&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>
<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>Socialist Action Endorsement</h2>
    <p>
      Members of Socialist Action (SA) are not only supporting the entire
      Municipal Socialist Alliance campaign but sharing socialist ideas across
      the country. SA strongly believes that solidarity knows no borders.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/yAIy9aFyXpE?start=0&end=72&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      frameborder="0"
    ></iframe>
  </div>
</div>

<br />
<div class="flex-aside bg-accent">
  <article>
    <h2>MSA aims to unite the left</h2>
    <p>
      Members of the Municipal Socialist Alliance (MSA) backed ten local
      campaigns across southern Ontario in October 2022, and gained nearly
      15,000 votes. We stand in solidarity with the mayoral campaign of
      socialist candidate Kiri Vadivelu.
    </p>
  </article>
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/fDbFxZIK3Bw?start=45&end=81&modestbranding=1&rel=0&iv_load_policy=3&fs=0&color=white"
      width=""
      height=""
      frameborder="0"
    ></iframe>
  </div>
</div>

<section>
  <h5><span>&#x2714;</span>Growing List of Endorsements</h5>
  <span>
    Municipal Socialist Alliance
    <a href="https://municipal.socialistalliance.ca">(MSA)</a></span
  >

  <span>
    Workers Action Movement
    <a href="https://instagram.com/workersactionmovement">(WAM)</a></span
  >
  <span
    >Scarborough Tenants Union
    <a href="https://scarboroughtenants.ca"> (STU)</a></span
  >

  <span> More to Come</span>
</section>
<br />
<hr />
<div class="flex-aside">
  <i>
    Whether you choose to decorate Toronto streets or your school bathroom,
    thats your freedom of choice. Please be kind to one another, thats part of
    being a socialist. If your not sure about anything, just give us a ring.
  </i>
  <div>
    <h1>Embrace Socialism Everywhere</h1>
  </div>
</div>
<ul class="cards">
  <li>
    <h3>Posters</h3>
    <a href="/assets/docs/socialist-mayor-poster.pdf">Socialist Mayor Poster</a>
  </li>
  <li>
    <h3>Leaflets</h3>
    <a href="/assets/docs/socialist_mayor_leaflet_gardiner.pdf"
      >Strip the Gardiner</a
    >
    <br />
    <a href="/assets/docs/socialist_mayor_leaflet_police.pdf"
      >Failure of the Police</a
    >
  </li>
  <li>
    <h3>Flyers</h3>
  </li>
</ul>

<section>
  <h5>MSA Team</h5>
  <p>
    <i>Campaign Manager:</i> <span class="h-face">&#9787;</span> Barry Weisleder
    | <a href="tel:647-986-1917"><span class="sr-only">CALL</span> </a> |
    <a href="mailto:barryaw@rogers.com"><span class="sr-only">EMAIL</span></a>
  </p>
  <p>
    <i>Policy Adviser: </i> <span class="h-face">&#9787;</span> Alanna Johnston
    |
    <a href="mailto:policy@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span>
    </a>
  </p>
  <p>
    <i>Campaign Support: </i>
    <span class="h-face">&#9787;</span> Rubina Chowdhury |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>
  <p>
    <i>Campaign Support:</i> <span class="h-face">&#9787;</span> Peter D'Gama |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>Social Media:</i> <span class="h-face">&#9787;</span> Thushy Seelan |
    <a href="mailto:team@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>Mayor Candidate:</i> <span class="h-face">&#9787;</span> Kiri Vadivelu |
    <a href="mailto:socialistmayor@kiri-vadivelu.ca"
      ><span class="sr-only">EMAIL</span></a
    >
  </p>

  <p>
    <i>MSA Website:</i> <span>&#10162;</span>
    <a href="https://municipal.socialistalliance.ca"
      ><strong> Municipal Socialist Alliance</strong></a
    >
  </p>
</section>
