---
title: Kiri Vadivelu | Municipal Socialist Alliance
description: "Campaign News, Events and Community Meetings"
layout: page
eleventyNavigation:
  key: vote
  order: 3
---

<section>
  <h5><span>&#x2714;</span> Endorsements</h5>
  <span>
    Municipal Socialist Alliance
    <a href="https://municipal.socialistalliance.ca">(MSA)</a></span
  >

  <span>
    Workers Action Movement
    <a href="https://instagram.com/workersactionmovement">(WAM)</a></span
  >
  <span
    >Scarborough Tenants Union
    <a href="https://scarboroughtenants.ca"> (STU)</a></span
  >

  <span> More to Come</span>
</section>
<br />
<section>
  <h3>MSA Team</h3>
  <p>
    <i>Campaign Manager:</i> <span class="h-face">&#9787;</span> Barry Weisleder
    | <a href="tel:647-986-1917">CALL</a> |
    <a href="mailto:barryaw@rogers.com">EMAIL</a>
  </p>
  <p>
    <i>Policy Adviser: </i> <span class="h-face">&#9787;</span> Alanna Johnston
    |
    <a href="mailto:policy@kiri-vadivelu.ca">EMAIL</a>
  </p>
  <p>
    <i>Campaign Support: </i>
    <span class="h-face">&#9787;</span> Rubina Chowdhury |
    <a href="mailto:team@kiri-vadivelu.ca">EMAIL</a>
  </p>
  <p>
    <i>Campaign Support:</i> <span class="h-face">&#9787;</span> Peter D'Gama |
    <a href="mailto:team@kiri-vadivelu.ca">EMAIL</a>
  </p>

  <p>
    <i>Social Media:</i> <span class="h-face">&#9787;</span> Thushy Seelan |
    <a href="mailto:team@kiri-vadivelu.ca">EMAIL</a>
  </p>

  <p>
    <i>Mayor Candidate:</i> <span class="h-face">&#9787;</span> Kiri Vadivelu |
    <a href="mailto:socialistmayor@kiri-vadivelu.ca">EMAIL</a>
  </p>

  <p>
    <i>MSA Website:</i> <span>&#10162;</span>
    <a href="https://municipal.socialistalliance.ca"
      ><strong> Municipal Socialist Alliance</strong></a
    >
  </p>
</section>
