//   Links
a:link,
a:visited {
  color: var(--link);
  text-underline-offset: 0.25em;
  text-decoration: none;
  transition: all var(--time) var(--type);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: var(--neutral);
  }
}

// Decorations/ Signatures
main {
  h1::after {
    content: " \2726";
    font-size: 0.7em;
  }

  time::before {
    content: " \262D";
    font-size: 1em;
    color: var(--link);
    border: 1px solid;
    padding: 0 0.4em;
    margin-right: 0.4em;
    border-radius: 0.1em;
    background: var(--theme);
  }

  a[href^="https://"]::after
  {
    content: " \219D";
    font-size: 1em;
  }

  a[href^="mailto"]::before {
    content: " \2709";
    font-size: 1em;
  }

  a[href^="tel"]::before {
    content: " \260F";
    font-size: 1em;
  }

  a[href$=".pdf"]::after {
    content: " \21F2";
    font-size: 1em;
  }
}

.article__list {
  li a:hover::after {
    content: " \21FE";
    font-size: 1em;
  }
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid;
}

mark {
  padding: 0 0.25em;
  background-color: var(--mark);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
